//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('OpenSansLight', 'OpenSans/OpenSansLight', 'OpenSansLight',  normal, normal)

// Italic
webfont('OpenSansItalic', 'OpenSans/OpenSansItalic', 'OpenSansItalic',  normal, normal)

// Regular
webfont('OpenSansRegular', 'OpenSans/OpenSansRegular', 'OpenSansRegular',  normal, normal)
webfont('OpenSansRegularItalic', 'OpenSans/OpenSansRegularItalic', 'OpenSansRegularItalic',  normal, normal)

// SemiBold (Medium)
webfont('OpenSansSemiBold', 'OpenSans/OpenSansSemiBold', 'OpenSansSemiBold',  normal, normal)
webfont('OpenSansSemiBoldItalic', 'OpenSans/OpenSansSemiBoldItalic', 'OpenSansSemiBoldItalic',  normal, normal)

// Bold
webfont('OpenSansBold', 'OpenSans/OpenSansBold', 'OpenSansBold',  normal, normal)
webfont('OpenSansBoldItalic', 'OpenSans/OpenSansBoldItalic', 'OpenSansBoldItalic',  normal, normal)

// ExtraBold (Black)
webfont('OpenSansExtraBold', 'OpenSans/OpenSansExtraBold', 'OpenSansExtraBold',  normal, normal)
webfont('OpenSansExtraBold', 'OpenSans/OpenSansExtraBold', 'OpenSansExtraBold',  normal, normal)

