//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('OpenSans-Regular', '', 'OpenSans',  normal, normal)
webfont('MagistralC-Bold', '', 'MagistralC-Bold',  normal, normal)


