{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<h1 class="w3c">Интернет-магазин Virtuality Club</h1>


			<section class="sect__promo color-bg gutter-bottom">

				<!-- Breadcrumbs -->
				<div class="breadcrumbs">
					<nav  class="container" aria-label="Breadcrumbs" itemprop="breadcrumb">
						<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

							<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="1" itemprop="position">
								<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">
										<span>Главная</span>
									</span>
								</a>
							</li>

							<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="2" itemprop="position">
								<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">Интернет-магазин</span>
								</span>
							</li>
						</ul>
					</nav>
				</div>
				<!-- //Breadcrumbs -->


				<div class="container">

					<div class="promo-block gutter-bottom">
						<div class="row promo-block__row row-nowrap">

							<div class="promo-slider__wrapper">
								<div class="promo-slider flex-slider slider-gutters js-promo-slider">
									<div class="promo-slide bg b-radius-10" style="background-image: url('img/promo/1-bg.png');">

										<div class="promo-slide__content">
											<p class="company-name">Virtuality  Club</p>

											<h2 class="promo-slide__title">Реальность которая впечатляет</h2>

											<p class="promo-slide__text">Главная цель Virtuality Club - сделать технологии виртуальной,  реальности популярными и доступными каждому.</p>

											<a href="#" class="btn">
												<span>Подробнее</span>
												{% include '../parts/components/btn-arrow.html' %}
											</a>
										</div>

										<div class="promo-slide__img">
											<img src="img/promo/1.png" alt="">
										</div>
									</div>
									<!-- //slide -->

									<div class="promo-slide bg b-radius-10" style="background-image: url('img/promo/1-bg.png');">

										<div class="promo-slide__content">
											<p class="company-name">Virtuality  Club</p>

											<h2 class="promo-slide__title">Реальность которая впечатляет</h2>

											<p class="promo-slide__text">Главная цель Virtuality Club - сделать технологии виртуальной,  реальности популярными и доступными каждому.</p>

											<a href="#" class="btn">
												<span>Подробнее</span>
												{% include '../parts/components/btn-arrow.html' %}
											</a>
										</div>

										<div class="promo-slide__img">
											<img src="img/promo/1.png" alt="">
										</div>
									</div>
									<!-- //slide -->
								</div>

								<!-- Controls -->
								<div class="slider-controls">
									<div class="slider-navigation">
										<button class="slider-navigation__btn slider-navigation__btn--prev js-promo-slider-btn-prev b-radius-7" type="button">
											{% include '../parts/components/btn-arrow.html' %}
										</button>
										<button class="slider-navigation__btn slider-navigation__btn--next js-promo-slider-btn-next b-radius-7" type="button">
											{% include '../parts/components/btn-arrow.html' %}
										</button>
									</div>

									<div class="slider-pagination js-promo-slider-pagination"></div>
								</div>
								<!-- //Controls -->
							</div>

							<div class="promo-block__offer">

								<!-- Timer -->
								<div class="timer-wrapper">
									<p class="timer-title">Товары со скидкой</p>
									<div class="timer b-radius-10">
										<div class="timer-items">
											<div class="timer-item">
												<span class="timer-item__value js-timer-days">02</span>
												<span class="timer-item__label js-timer-days-label">Дней</span>
											</div>
											<span class="timer-item__divider">:</span>
											<div class="timer-item">
												<span class="timer-item__value js-timer-hours">23</span>
												<span class="timer-item__label js-timer-hours-label">Часов</span>
											</div>
											<span class="timer-item__divider">:</span>
											<div class="timer-item">
												<span class="timer-item__value js-timer-minutes">54</span>
												<span class="timer-item__label js-timer-minutes-label">Минут</span>
											</div>
											<span class="timer-item__divider">:</span>
											<div class="timer-item">
												<span class="timer-item__value js-timer-seconds">10</span>
												<span class="timer-item__label js-timer-seconds-label">Секунд</span>
											</div>
										</div>
									</div>
								</div>
								<!-- //Timer -->

								<div class="promo-products-cards-slider__wrapper">

									<div class="promo-products-cards-slider js-promo-products-cards-slider slider-gutters">
										{% include '../parts/components/product-card.html' %}
										{% include '../parts/components/product-card.html' %}
										{% include '../parts/components/product-card.html' %}
									</div>


									<div class="slider-pagination js-promo-products-cards-slider-pagination"></div>
								</div>
							</div>

						</div>

						{% include '../parts/components/virtuality-img.html' %}
					</div>


					<div class="advantages  border-top-block gutter-top">
						<h2 class="text-center sect-title">Преимущества компании</h2>

						<div class="advantages-slider__wrapper">

							<div class="advantages-slider js-advantages-slider">

								<div class="advantage">
									<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/1.svg');"></span>
									<h3 class="advantage__title">Надежная и быстрая доставка</h3>
								</div>

								<!-- //adv item -->


								<div class="advantage">
									<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/2.svg');"></span>
									<h3 class="advantage__title">Оригинальные и качественные товары</h3>
								</div>

								<!-- //adv item -->


								<div class="advantage">
									<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/3.svg');"></span>
									<h3 class="advantage__title">Гарантия на товары Virtuality Club</h3>
								</div>

								<!-- //adv item -->


								<div class="advantage">
									<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/4.svg');"></span>
									<h3 class="advantage__title">Сервисный центр при магазине</h3>
								</div>

								<!-- //adv item -->


								<div class="advantage">
									<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/5.svg');"></span>
									<h3 class="advantage__title">Эксперты на рынка<br> с 2015г.</h3>
								</div>

								<!-- //adv item -->
							</div>

							<div class="slider-pagination js-advantages-slider-pagination"></div>
						</div>
					</div>
				</div>
				<!-- //container -->
				
			</section>
			<!-- //sect promo -->


			<section class="sect__products-cards gutters">
				
				<div class="container">
					<div class="products-cards__entering">
						<div class="row align-vertical-center align-horisontal-between">
							<h2 class="sect-title">Хит продаж</h2>

							<div class="tab-controls">
								<button class="tab-controls__btn b-radius-7 is-active" type="button">Для игр</button>
								<button class="tab-controls__btn b-radius-7" type="button">Для бизнеса</button>
								<button class="tab-controls__btn b-radius-7" type="button">Аксессуары</button>
								<button class="tab-controls__btn b-radius-7" type="button">Комплекты</button>
							</div>
						</div>
					</div>


					{% include '../parts/sections/products-cards-slider.html' %}
				</div>
				<!-- //container -->
			</section>
			<!-- //sect products -->

			<section class="sect__products-cards gutters">
				
				<div class="container">
					<div class="products-cards__entering">
						<div class="row align-vertical-center align-horisontal-between">
							<h2 class="sect-title">Товары брендов</h2>

							<div class="tab-controls">
								<button class="tab-controls__btn b-radius-7 is-active" type="button">Для игр</button>
								<button class="tab-controls__btn b-radius-7" type="button">Для бизнеса</button>
								<button class="tab-controls__btn b-radius-7" type="button">Аксессуары</button>
								<button class="tab-controls__btn b-radius-7" type="button">Комплекты</button>
							</div>
						</div>
					</div>


					{% include '../parts/sections/products-cards-slider.html' %}
				</div>
				<!-- //container -->
			</section>
			<!-- //sect products -->


			<section class="sect__promo-slider gutter-bottom">
				
				<div class="promo-slider__wrapper">

					<div class="promo-slider promo-slider-full js-promo-slider-full">

						<div class="promo-slide bg b-radius-10" style="background-image: url('img/promo/1-bg.png');">

							<div class="promo-slide__content">
								<p class="company-name">Virtuality  Club</p>

								<h2 class="promo-slide__title">Реальность которая впечатляет</h2>

								<p class="promo-slide__text">Главная цель Virtuality Club - сделать технологии виртуальной,  реальности популярными и доступными каждому.</p>


							</div>

							<div class="promo-slide__img">
								<img src="img/promo/1.png" alt="">
							</div>
						</div>
						<!-- //slide -->

						<div class="promo-slide promo-slide-dark bg b-radius-10" style="background-image: url('img/promo/2-bg.png');">

							<div class="promo-slide__content">
								<p class="company-name">Virtuality  Club</p>

								<h2 class="promo-slide__title">Реальность которая впечатляет</h2>

								<p class="promo-slide__text">Главная цель Virtuality Club - сделать технологии виртуальной,  реальности популярными и доступными каждому.</p>

							</div>

						</div>
						<!-- //slide -->

						<div class="promo-slide bg b-radius-10" style="background-image: url('img/promo/1-bg.png');">

							<div class="promo-slide__content">
								<p class="company-name">Virtuality  Club</p>

								<h2 class="promo-slide__title">Реальность которая впечатляет</h2>

								<p class="promo-slide__text">Главная цель Virtuality Club - сделать технологии виртуальной,  реальности популярными и доступными каждому.</p>


							</div>

							<div class="promo-slide__img">
								<img src="img/promo/2.png" alt="">
							</div>
						</div>
						<!-- //slide -->

						<div class="promo-slide promo-slide-dark bg b-radius-10" style="background-image: url('img/promo/2-bg.png');">

							<div class="promo-slide__content">
								<p class="company-name">Virtuality  Club</p>

								<h2 class="promo-slide__title">Реальность которая впечатляет</h2>

								<p class="promo-slide__text">Главная цель Virtuality Club - сделать технологии виртуальной,  реальности популярными и доступными каждому.</p>

							</div>

						</div>
						<!-- //slide -->
					</div>

					<div class="container">


						<!-- Controls -->
						<div class="slider-controls">
							<div class="slider-navigation">
								<button class="slider-navigation__btn slider-navigation__btn--prev js-promo-slider-full-btn-prev b-radius-7" type="button">
									{% include '../parts/components/btn-arrow.html' %}
								</button>
								<button class="slider-navigation__btn slider-navigation__btn--next js-promo-slider-full-btn-next b-radius-7" type="button">
									{% include '../parts/components/btn-arrow.html' %}
								</button>
							</div>

							<div class="slider-pagination js-promo-slider-full-pagination"></div>
						</div>
						<!-- //Controls -->

					</div>
				</div>
			</section>
			<!-- //sect promo slider -->


			<section class="sect__products-cards gutters color-bg">
				
				<div class="container">
					<div class="virtuality-wrapper">

						<div class="products-cards__entering">
							<div class="row align-vertical-center align-horisontal-between">
								<h2 class="sect-title">Акции</h2>

								<div class="tab-controls">
									<button class="tab-controls__btn b-radius-7 is-active" type="button">Для игр</button>
									<button class="tab-controls__btn b-radius-7" type="button">Для бизнеса</button>
									<button class="tab-controls__btn b-radius-7" type="button">Аксессуары</button>
									<button class="tab-controls__btn b-radius-7" type="button">Комплекты</button>
								</div>
							</div>
						</div>





						{% include '../parts/sections/products-cards-slider.html' %}


						{% include '../parts/components/virtuality-img.html' %}

					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect stocks -->

			<section class="sect__products-cards gutters">
				
				<div class="container">

					<div class="products-cards__entering">
						<div class="row align-vertical-center align-horisontal-between">
							<h2 class="sect-title">Новинки</h2>

							<div class="tab-controls">
								<button class="tab-controls__btn b-radius-7 is-active" type="button">Для игр</button>
								<button class="tab-controls__btn b-radius-7" type="button">Для бизнеса</button>
								<button class="tab-controls__btn b-radius-7" type="button">Аксессуары</button>
								<button class="tab-controls__btn b-radius-7" type="button">Комплекты</button>
							</div>
						</div>
					</div>

					{% include '../parts/sections/products-cards-slider.html' %}


				</div>
				<!-- //container -->
			</section>
			<!-- //sect new products -->

			<section class="sect__brands gutter-bottom">
				
				<div class="container">

					<div class="our-brands border-top-block gutter-top">
						<h2 class="sect-title text-center">Наши бренды</h2>

						<div class="our-brands-slider__wrapper">
							


							<div class="our-brands-slider js-our-brands-slider slider-gutters">

								<a href="#" class="our-brand b-radius-10"><img src="img/brands/1.png" alt=""></a>
								<a href="#" class="our-brand b-radius-10"><img src="img/brands/2.png" alt=""></a>
								<a href="#" class="our-brand b-radius-10"><img src="img/brands/3.png" alt=""></a>
								<a href="#" class="our-brand b-radius-10"><img src="img/brands/4.png" alt=""></a>
								<a href="#" class="our-brand b-radius-10"><img src="img/brands/5.png" alt=""></a>
								<a href="#" class="our-brand b-radius-10"><img src="img/brands/6.png" alt=""></a>
								<a href="#" class="our-brand b-radius-10"><img src="img/brands/1.png" alt=""></a>
								<a href="#" class="our-brand b-radius-10"><img src="img/brands/2.png" alt=""></a>
								<a href="#" class="our-brand b-radius-10"><img src="img/brands/3.png" alt=""></a>
								<a href="#" class="our-brand b-radius-10"><img src="img/brands/4.png" alt=""></a>
								<a href="#" class="our-brand b-radius-10"><img src="img/brands/5.png" alt=""></a>
								<a href="#" class="our-brand b-radius-10"><img src="img/brands/6.png" alt=""></a>
							</div>


							<!-- Controls -->
							<div class="slider-controls">
								<div class="slider-navigation">
									<button class="slider-navigation__btn slider-navigation__btn--prev js-our-brands-slider-btn-prev b-radius-7" type="button">
										{% include '../parts/components/btn-arrow.html' %}
									</button>
									<button class="slider-navigation__btn slider-navigation__btn--next js-our-brands-slider-btn-next b-radius-7" type="button">
										{% include '../parts/components/btn-arrow.html' %}
									</button>
								</div>

								<div class="slider-pagination js-our-brands-slider-pagination"></div>
							</div>
							<!-- //Controls -->

						</div>

					</div>



				</div>
				<!-- //container -->
			</section>
			<!-- //sect new products -->


			<section class="sect__faq gutters color-bg">
				<h2 class="sect-title text-center container">Часто задаваемые вопросы</h2>
			</section>

			<!-- //sect faq -->

			<section class="sect__feedbacks gutters">
				<h2 class="sect-title text-center container">Наши отзывы</h2>
			</section>

			<!-- //sect feedbacks -->

			<section class="sect__sertificates gutter-bottom">
				<div class="container">
					<div class="border-top-block gutter-top">
						

						<h2 class="sect-title text-center">Дипломы и сертификаты</h2>

					</div>
				</div>
				
			</section>

			<!-- //sect sertificates -->






		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>