{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<h1 class="w3c">Интернет-магазин Virtuality Club</h1>


			<section class="sect__promo color-bg gutter-bottom">

				<!-- Breadcrumbs -->
				<div class="breadcrumbs">
					<nav  class="container" aria-label="Breadcrumbs" itemprop="breadcrumb">
						<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

							<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="1" itemprop="position">
								<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">
										<span>Главная</span>
									</span>
								</a>
							</li>

							<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="2" itemprop="position">
								<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">Интернет-магазин</span>
								</span>
							</li>
						</ul>
					</nav>
				</div>
				<!-- //Breadcrumbs -->


				<div class="container">

					<div class="promo-block gutter-bottom">
						<div class="row promo-block__row row-nowrap">

							<div class="promo-slider__wrapper">
								<div class="promo-slider flex-slider slider-gutters js-promo-slider">
									<div class="promo-slide bg b-radius-10" style="background-image: url('img/promo/1-bg.png');">

										<div class="promo-slide__content">
											<p class="company-name">Virtuality  Club</p>

											<h2 class="promo-slide__title">Реальность которая впечатляет</h2>

											<p class="promo-slide__text">Главная цель Virtuality Club - сделать технологии виртуальной,  реальности популярными и доступными каждому.</p>

											<a href="#" class="btn">
												<span>Подробнее</span>
												{% include '../parts/components/btn-arrow.html' %}
											</a>
										</div>

										<div class="promo-slide__img">
											<img src="img/promo/1.png" alt="">
										</div>
									</div>
									<!-- //slide -->

									<div class="promo-slide bg b-radius-10" style="background-image: url('img/promo/1-bg.png');">

										<div class="promo-slide__content">
											<p class="company-name">Virtuality  Club</p>

											<h2 class="promo-slide__title">Реальность которая впечатляет</h2>

											<p class="promo-slide__text">Главная цель Virtuality Club - сделать технологии виртуальной,  реальности популярными и доступными каждому.</p>

											<a href="#" class="btn">
												<span>Подробнее</span>
												{% include '../parts/components/btn-arrow.html' %}
											</a>
										</div>

										<div class="promo-slide__img">
											<img src="img/promo/1.png" alt="">
										</div>
									</div>
									<!-- //slide -->
								</div>

								<!-- Controls -->
								<div class="slider-controls">
									<div class="slider-navigation">
										<button class="slider-navigation__btn slider-navigation__btn--prev js-promo-slider-btn-prev b-radius-7" type="button">
											{% include '../parts/components/btn-arrow.html' %}
										</button>
										<button class="slider-navigation__btn slider-navigation__btn--next js-promo-slider-btn-next b-radius-7" type="button">
											{% include '../parts/components/btn-arrow.html' %}
										</button>
									</div>

									<div class="slider-pagination js-promo-slider-pagination"></div>
								</div>
								<!-- //Controls -->
							</div>

							<div class="promo-block__offer">

								<!-- Timer -->
								<div class="timer-wrapper">
									<p class="timer-title">Товары со скидкой</p>
									<div class="timer b-radius-10">
										<div class="timer-items">
											<div class="timer-item">
												<span class="timer-item__value js-timer-days">02</span>
												<span class="timer-item__label js-timer-days-label">Дней</span>
											</div>
											<span class="timer-item__divider">:</span>
											<div class="timer-item">
												<span class="timer-item__value js-timer-hours">23</span>
												<span class="timer-item__label js-timer-hours-label">Часов</span>
											</div>
											<span class="timer-item__divider">:</span>
											<div class="timer-item">
												<span class="timer-item__value js-timer-minutes">54</span>
												<span class="timer-item__label js-timer-minutes-label">Минут</span>
											</div>
											<span class="timer-item__divider">:</span>
											<div class="timer-item">
												<span class="timer-item__value js-timer-seconds">10</span>
												<span class="timer-item__label js-timer-seconds-label">Секунд</span>
											</div>
										</div>
									</div>
								</div>
								<!-- //Timer -->

								<div class="promo-products-cards-slider__wrapper">

									<div class="promo-products-cards-slider js-promo-products-cards-slider slider-gutters">
										{% include '../parts/components/product-card.html' %}
										{% include '../parts/components/product-card.html' %}
										{% include '../parts/components/product-card.html' %}
										{% include '../parts/components/product-card.html' %}
										{% include '../parts/components/product-card.html' %}
									</div>


									<div class="slider-pagination js-promo-products-cards-slider-pagination"></div>
								</div>
							</div>

						</div>

						{% include '../parts/components/virtuality-img.html' %}
					</div>


					<div class="advantages  border-top-block gutter-top">
						<h2 class="text-center sect-title">Преимущества компании</h2>

						<div class="advantages-slider__wrapper">

							<div class="advantages-slider js-advantages-slider">

								<div class="advantage">
									<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/1.svg');"></span>
									<h3 class="advantage__title">Надежная и быстрая доставка</h3>
								</div>

								<!-- //adv item -->


								<div class="advantage">
									<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/2.svg');"></span>
									<h3 class="advantage__title">Оригинальные и качественные товары</h3>
								</div>

								<!-- //adv item -->


								<div class="advantage">
									<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/3.svg');"></span>
									<h3 class="advantage__title">Гарантия на товары Virtuality Club</h3>
								</div>

								<!-- //adv item -->


								<div class="advantage">
									<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/4.svg');"></span>
									<h3 class="advantage__title">Сервисный центр при магазине</h3>
								</div>

								<!-- //adv item -->


								<div class="advantage">
									<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/5.svg');"></span>
									<h3 class="advantage__title">Эксперты на рынка<br> с 2015г.</h3>
								</div>

								<!-- //adv item -->
							</div>

							<div class="slider-pagination js-advantages-slider-pagination"></div>
						</div>
					</div>
				</div>
				<!-- //container -->
				
			</section>
			<!-- //sect promo -->


			<section class="sect__products-cards gutters">
				
				<div class="container">
					<div class="products-cards__entering">
						<div class="row align-vertical-center align-horisontal-between row-nowrap">
							<h2 class="sect-title">Хит продаж</h2>

							<div class="tab-controls">
								<button class="tab-controls__btn b-radius-7 is-active" type="button">Для игр</button>
								<button class="tab-controls__btn b-radius-7" type="button">Для бизнеса</button>
								<button class="tab-controls__btn b-radius-7" type="button">Аксессуары</button>
								<button class="tab-controls__btn b-radius-7" type="button">Комплекты</button>
							</div>
						</div>
					</div>


					{% include '../parts/sections/products-cards-slider.html' %}
				</div>
				<!-- //container -->
			</section>
			<!-- //sect products -->

			<section class="sect__products-cards gutters no-top-gutters-mobile">
				
				<div class="container">
					<div class="products-cards__entering">
						<div class="row align-vertical-center align-horisontal-between row-nowrap">
							<h2 class="sect-title">Товары брендов</h2>
							
							<div class="tab-controls-slider__wrapper">
								<div class="tab-controls-slider js-tab-controls-slider">
									<div class="tab-controls-slider__btn">
										<button type="button" class="our-brand our-brand-sm card b-radius-10"><img src="img/brands/1.png" alt=""></button>
									</div>
									<div class="tab-controls-slider__btn">
										<button type="button" class="our-brand our-brand-sm card b-radius-10"><img src="img/brands/2.png" alt=""></button>
									</div>

									<div class="tab-controls-slider__btn">
										<button type="button" class="our-brand our-brand-sm card b-radius-10"><img src="img/brands/3.png" alt=""></button>
									</div>

									<div class="tab-controls-slider__btn">
										<button type="button" class="our-brand our-brand-sm card b-radius-10"><img src="img/brands/4.png" alt=""></button>
									</div>
									<div class="tab-controls-slider__btn">
										<button type="button" class="our-brand our-brand-sm card b-radius-10"><img src="img/brands/5.png" alt=""></button>
									</div>
									<div class="tab-controls-slider__btn">
										<button type="button" class="our-brand our-brand-sm card b-radius-10"><img src="img/brands/6.png" alt=""></button>
									</div>
								</div>

								<!-- Controls -->
								<div class="tab-controls-slider__navigation">
									<button class="btn-arrow-sm btn-arrow-sm__prev b-radius-7 js-tab-controls-slider-btn-prev" type="button">
										<svg  viewBox="0 0 9 7"  xmlns="http://www.w3.org/2000/svg">
											<path d="M0 3.00781V3.99219H7.07812L5.29688 5.79688L6 6.5L9 3.5L6 0.5L5.29688 1.20312L7.07812 3.00781H0Z"/>
										</svg>

									</button>
									<button class="btn-arrow-sm btn-arrow-sm__next b-radius-7 js-tab-controls-slider-btn-next" type="button">
										<svg viewBox="0 0 9 7"  xmlns="http://www.w3.org/2000/svg">
											<path d="M9 3.00781V3.99219H1.92188L3.70312 5.79688L3 6.5L0 3.5L3 0.5L3.70312 1.20312L1.92188 3.00781H9Z"/>
										</svg>
									</button>
								</div>
								<!-- //Controls -->
								
							</div>
						</div>
					</div>


					{% include '../parts/sections/products-cards-slider.html' %}
				</div>
				<!-- //container -->
			</section>
			<!-- //sect products -->


			<section class="sect__promo-slider gutter-bottom">
				
				<div class="promo-slider__wrapper">
					{% include '../parts/sections/stocks-slider.html' %}

					<div class="container">
						<!-- Controls -->
						<div class="slider-controls row align-vertical-center align-horisontal-between">
							<div class="slider-navigation">
								<button class="slider-navigation__btn slider-navigation__btn--prev js-promo-slider-full-btn-prev b-radius-7" type="button">
									{% include '../parts/components/btn-arrow.html' %}
								</button>
								<button class="slider-navigation__btn slider-navigation__btn--next js-promo-slider-full-btn-next b-radius-7" type="button">
									{% include '../parts/components/btn-arrow.html' %}
								</button>
							</div>

							<div class="slider-pagination js-promo-slider-full-pagination"></div>
						</div>
						<!-- //Controls -->

					</div>

				</div>
			</section>
			<!-- //sect promo slider -->


			<section class="sect__products-cards gutters color-bg">
				
				<div class="container">
					<div class="virtuality-wrapper">

						<div class="products-cards__entering">
							<div class="row align-vertical-center align-horisontal-between row-nowrap">
								<h2 class="sect-title">Акции</h2>

								<div class="tab-controls">
									<button class="tab-controls__btn b-radius-7 is-active" type="button">Для игр</button>
									<button class="tab-controls__btn b-radius-7" type="button">Для бизнеса</button>
									<button class="tab-controls__btn b-radius-7" type="button">Аксессуары</button>
									<button class="tab-controls__btn b-radius-7" type="button">Комплекты</button>
								</div>
							</div>
						</div>





						{% include '../parts/sections/products-cards-slider.html' %}


						{% include '../parts/components/virtuality-img.html' %}

					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect stocks -->

			<section class="sect__products-cards gutters">
				
				<div class="container">

					<div class="products-cards__entering">
						<div class="row align-vertical-center align-horisontal-between row-nowrap">
							<h2 class="sect-title">Новинки</h2>

							<div class="tab-controls">
								<button class="tab-controls__btn b-radius-7 is-active" type="button">Для игр</button>
								<button class="tab-controls__btn b-radius-7" type="button">Для бизнеса</button>
								<button class="tab-controls__btn b-radius-7" type="button">Аксессуары</button>
								<button class="tab-controls__btn b-radius-7" type="button">Комплекты</button>
							</div>
						</div>
					</div>

					{% include '../parts/sections/products-cards-slider.html' %}


				</div>
				<!-- //container -->
			</section>
			<!-- //sect new products -->

			<section class="sect__brands gutter-bottom">
				
				<div class="container">

					<div class="our-brands border-top-block gutter-top">
						<h2 class="sect-title text-center">Наши бренды</h2>

						<div class="our-brands-slider__wrapper">
							


							<div class="our-brands-slider js-our-brands-slider slider-gutters">

								<a href="#" class="our-brand card b-radius-10"><img src="img/brands/1.png" alt=""></a>
								<a href="#" class="our-brand card b-radius-10"><img src="img/brands/2.png" alt=""></a>
								<a href="#" class="our-brand card b-radius-10"><img src="img/brands/3.png" alt=""></a>
								<a href="#" class="our-brand card b-radius-10"><img src="img/brands/4.png" alt=""></a>
								<a href="#" class="our-brand card b-radius-10"><img src="img/brands/5.png" alt=""></a>
								<a href="#" class="our-brand card b-radius-10"><img src="img/brands/6.png" alt=""></a>
								<a href="#" class="our-brand card b-radius-10"><img src="img/brands/1.png" alt=""></a>
								<a href="#" class="our-brand card b-radius-10"><img src="img/brands/2.png" alt=""></a>
								<a href="#" class="our-brand card b-radius-10"><img src="img/brands/3.png" alt=""></a>
								<a href="#" class="our-brand card b-radius-10"><img src="img/brands/4.png" alt=""></a>
								<a href="#" class="our-brand card b-radius-10"><img src="img/brands/5.png" alt=""></a>
								<a href="#" class="our-brand card b-radius-10"><img src="img/brands/6.png" alt=""></a>
							</div>


							<!-- Controls -->
							<div class="slider-controls">
								<div class="slider-navigation">
									<button class="slider-navigation__btn slider-navigation__btn--prev js-our-brands-slider-btn-prev b-radius-7" type="button">
										{% include '../parts/components/btn-arrow.html' %}
									</button>
									<button class="slider-navigation__btn slider-navigation__btn--next js-our-brands-slider-btn-next b-radius-7" type="button">
										{% include '../parts/components/btn-arrow.html' %}
									</button>
								</div>

								<div class="slider-pagination js-our-brands-slider-pagination"></div>
							</div>
							<!-- //Controls -->

						</div>

					</div>



				</div>
				<!-- //container -->
			</section>
			<!-- //sect new products -->


			<section class="sect__faq gutters color-bg">
				<h2 class="sect-title text-center container">Часто задаваемые вопросы</h2>

				<div class="container">
					<div class="virtuality-wrapper virtuality-wrapper__right">


						<div class="faq-slider__wrapper">
							<div class="faq-slider js-faq-slider slider-gutters">
								<a href="#" class="faq-item  b-radius-10 js-open-faq-popup-btn" >
									<span class="faq-item__bg bg" style="background-image: url('img/faq/1.png');"></span>
									
									<span class="faq-item__content">
										Помощь в установке и настройка

										{% include '../parts/components/faq-svg-decor.html' %}

									</span>
								</a>

								<a href="#" class="faq-item  b-radius-10 js-open-faq-popup-btn">
									<span class="faq-item__bg bg" style="background-image: url('img/faq/2.png');"></span>

									<span class="faq-item__content">
										Оплата
										{% include '../parts/components/faq-svg-decor.html' %}
									</span>
								</a>

								<a href="#" class="faq-item  b-radius-10 js-open-faq-popup-btn">
									<span class="faq-item__bg bg" style="background-image: url('img/faq/3.png');"></span>

									<span class="faq-item__content">
										Гарантии и сервисный центр
										{% include '../parts/components/faq-svg-decor.html' %}
									</span>
								</a>

								<a href="#" class="faq-item  b-radius-10 js-open-faq-popup-btn" style="background-image: url('img/faq/4.png'); ">
									<span class="faq-item__bg bg" style="background-image: url('img/faq/4.png');"></span>

									<span class="faq-item__content">
										Доставка
										{% include '../parts/components/faq-svg-decor.html' %}
									</span>
								</a>

								<a href="#" class="faq-item  b-radius-10 js-open-faq-popup-btn" >
									<span class="faq-item__bg bg" style="background-image: url('img/faq/5.png');"></span>

									<span class="faq-item__content">
										Система акций
										{% include '../parts/components/faq-svg-decor.html' %}
									</span>
								</a>

								<a href="#" class="faq-item b-radius-10 js-open-faq-popup-btn" >
									<span class="faq-item__bg bg" style="background-image: url('img/faq/3.png');"></span>

									<span class="faq-item__content">
										Гарантии и сервисный центр
										{% include '../parts/components/faq-svg-decor.html' %}
									</span>
								</a>

								<a href="#" class="faq-item b-radius-10 js-open-faq-popup-btn">
									<span class="faq-item__bg bg" style="background-image: url('img/faq/4.png');"></span>
									<span class="faq-item__content">
										Доставка
										{% include '../parts/components/faq-svg-decor.html' %}
									</span>
								</a>

								<a href="#" class="faq-item b-radius-10 js-open-faq-popup-btn">
									<span class="faq-item__bg bg" style="background-image: url('img/faq/5.png');"></span>
									<span class="faq-item__content">
										Система акций
										{% include '../parts/components/faq-svg-decor.html' %}
									</span>
								</a>
							</div>


							<!-- Controls -->
							<div class="slider-controls">
								<div class="slider-navigation">
									<button class="slider-navigation__btn slider-navigation__btn--prev js-faq-slider-btn-prev b-radius-7" type="button">
										{% include '../parts/components/btn-arrow.html' %}
									</button>
									<button class="slider-navigation__btn slider-navigation__btn--next js-faq-slider-btn-next b-radius-7" type="button">
										{% include '../parts/components/btn-arrow.html' %}
									</button>
								</div>

								<div class="slider-pagination js-faq-slider-pagination"></div>
							</div>
							<!-- //Controls -->
						</div>

						{% include '../parts/components/virtuality-img.html' %}
					</div>
				</div>
				<!-- //container -->
			</section>

			<!-- //sect faq -->

			
			{% include '../parts/sections/sect-feedbacks.html' %}
			<!-- //sect feedbacks -->

			<section class="sect__sertificates gutter-bottom">
				<div class="container">
					<div class="border-top-block gutter-top">
						

						<h2 class="sect-title text-center">Дипломы и сертификаты</h2>


						<div class="sertificates-slider__wrapper">

							<div class="sertificates-slider slider-gutters js-sertificates-slider">
								<a href="img/sertificates/1.png" class="sertificate b-radius-10 card" data-fancybox="sertificates"><span><img src="img/sertificates/1.png" alt=""></span></a>
								<a href="img/sertificates/1.png" class="sertificate b-radius-10 card" data-fancybox="sertificates"><span><img src="img/sertificates/2.png" alt=""></span></a>
								<a href="img/sertificates/1.png" class="sertificate b-radius-10 card" data-fancybox="sertificates"><span><img src="img/sertificates/1.png" alt=""></span></a>
								<a href="img/sertificates/1.png" class="sertificate b-radius-10 card" data-fancybox="sertificates"><span><img src="img/sertificates/2.png" alt=""></span></a>
								<a href="img/sertificates/1.png" class="sertificate b-radius-10 card" data-fancybox="sertificates"><span><img src="img/sertificates/1.png" alt=""></span></a>
								<a href="img/sertificates/1.png" class="sertificate b-radius-10 card" data-fancybox="sertificates"><span><img src="img/sertificates/2.png" alt=""></span></a>
								<a href="img/sertificates/1.png" class="sertificate b-radius-10 card" data-fancybox="sertificates"><span><img src="img/sertificates/1.png" alt=""></span></a>
								<a href="img/sertificates/1.png" class="sertificate b-radius-10 card" data-fancybox="sertificates"><span><img src="img/sertificates/2.png" alt=""></span></a>

							</div>


							<!-- Controls -->
							<div class="slider-controls row row-nowrap align-vertical-center align-horisontal-between">
								<div class="slider-navigation">
									<button class="slider-navigation__btn slider-navigation__btn--prev js-sertificates-slider-btn-prev b-radius-7" type="button">
										{% include '../parts/components/btn-arrow.html' %}
									</button>
									<button class="slider-navigation__btn slider-navigation__btn--next js-sertificates-slider-btn-next b-radius-7" type="button">
										{% include '../parts/components/btn-arrow.html' %}
									</button>
								</div>

								<div class="slider-pagination js-sertificates-slider-pagination"></div>

							</div>
							<!-- //Controls -->
						</div>

					</div>
				</div>
				
			</section>

			<!-- //sect sertificates -->






		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


		{% include '../parts/components/popups/popup-feedback.html' %}
		{% include '../parts/components/popups/popup-faq.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>