{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-gutter-top">

			

			<!-- Breadcrumbs -->
			<div class="breadcrumbs">
				<nav  class="container" aria-label="Breadcrumbs" itemprop="breadcrumb">
					<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

						<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
							<meta content="1" itemprop="position">
							<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
								<span itemprop="name">
									<span>Главная</span>
								</span>
							</a>
						</li>

						<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
							<meta content="2" itemprop="position">
							<a href="index.html" aria-label="Интернет-магазин" itemtype="https://schema.org/Thing" itemprop="item">
								<span itemprop="name">
									<span>Интернет-магазин</span>
								</span>
							</a>
						</li>

						<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
							<meta content="3" itemprop="position">
							<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
								<span itemprop="name">Личный кабинет</span>
							</span>
						</li>
					</ul>
				</nav>
			</div>
			<!-- //Breadcrumbs -->


			<h1 class="sect-title container page-title">Личный кабинет</h1>


			<section class="sect__cabinet gutter-bottom">
				<div class="container">

					<div class="cabinet">
						<div class="row cabinet__row align-vertical-start align-horisontal-start">
							<!-- Cabinet menu -->
							{% include '../parts/sections/cabinet-aside.html' %}
							<!-- //Cabinet menu -->

							<div class="cabinet-main">
								<h2 class="cabinet-main__title">Заказы</h2>

								<div class="tab-controls">
									<span class="tab-controls__btn b-radius-7 is-active">Заказанные товары</span>
									<a href="page-cabinet-orders.html" class="tab-controls__btn b-radius-7">Заказы</a>
								</div>

								<div class="cabinet-search">

									<form class="search-form search-form-lg">
										<div class="search-form__group">
											<input type="text" class="search-form__input b-radius-7" placeholder="Артикул, номер заказа, название товара ..." name="s" required>
											<button class="search-form__btn" type="submit">
												<svg  viewBox="0 0 15 22"  xmlns="http://www.w3.org/2000/svg">
													<path d="M10.6445 13.1797L14.7852 17.3203L13.5352 18.5703L9.39453 14.4297V13.7656L9.16016 13.5312C8.14453 14.3906 6.97266 14.8203 5.64453 14.8203C4.13411 14.8203 2.84505 14.2995 1.77734 13.2578C0.735677 12.1901 0.214844 10.9141 0.214844 9.42969C0.214844 7.91927 0.735677 6.64323 1.77734 5.60156C2.84505 4.53385 4.12109 4 5.60547 4C7.11589 4 8.39193 4.53385 9.43359 5.60156C10.5013 6.64323 11.0352 7.91927 11.0352 9.42969C11.0352 10.7578 10.6055 11.9297 9.74609 12.9453L9.98047 13.1797H10.6445ZM2.98828 12.0859C3.71745 12.8151 4.60286 13.1797 5.64453 13.1797C6.6862 13.1797 7.57161 12.8151 8.30078 12.0859C9.02995 11.3568 9.39453 10.4714 9.39453 9.42969C9.39453 8.38802 9.02995 7.5026 8.30078 6.77344C7.57161 6.04427 6.6862 5.67969 5.64453 5.67969C4.60286 5.67969 3.71745 6.04427 2.98828 6.77344C2.25911 7.5026 1.89453 8.38802 1.89453 9.42969C1.89453 10.4714 2.25911 11.3568 2.98828 12.0859Z" />
												</svg>
											</button>
										</div>
									</form>

								</div>

								<div class="cabinet-orders">
									

									<div class="attention-block">
										<p>Интернет-заказы отсутствуют.</p>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>





		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


		{% include '../parts/components/popups/popup-feedback.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>