{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-gutter-top">

			

			<!-- Breadcrumbs -->
			<div class="breadcrumbs">
				<nav  class="container" aria-label="Breadcrumbs" itemprop="breadcrumb">
					<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

						<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
							<meta content="1" itemprop="position">
							<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
								<span itemprop="name">
									<span>Главная</span>
								</span>
							</a>
						</li>

						<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
							<meta content="2" itemprop="position">
							<a href="index.html" aria-label="Интернет-магазин" itemtype="https://schema.org/Thing" itemprop="item">
								<span itemprop="name">
									<span>Интернет-магазин</span>
								</span>
							</a>
						</li>

						<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
							<meta content="3" itemprop="position">
							<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
								<span itemprop="name">Название категории товаров</span>
							</span>
						</li>
					</ul>
				</nav>
			</div>
			<!-- //Breadcrumbs -->


			<h1 class="sect-title container page-title">Название категории товаров</h1>


			{% include '../parts/components/catalog/sect-categories.html' %}


			<section class="sect__catalog gutter-bottom">
				<div class="container">

					<!-- Filter -->
					{% include '../parts/components/catalog/filter.html' %}
					<!-- //Filter -->


					
				</div>
				<!-- //container -->


				<div class="catalog-products">
					<div class="catalog-products__entering">
						<div class="container">
							<div class="catalog-products__entering--row row align-horisontal-between row-nowrap row-gutters">
								<div class="catalog-products__entering--title col-gutters">
									<h2 class="sect-title">Системы позиционного трекинга</h2>
									<p>Показано: <b>30</b> товаров из <b>598</b></p>
								</div>

								<div class="sorting col-gutters">
									<form class="sorting-form">
										<div class="form-groups__row row align-horisontal-end">
											<div class="form-group col-w-50">
												<select name="quantity" class="form-select">
													<option value="30">Показывать по 30</option>
													<option value="60">Показывать по 60</option>
													<option value="60">Показывать по 90</option>
												</select>
											</div>
											<div class="form-group col-w-50">
												<select name="sorting" class="form-select">
													<option value="1">Сначала популярны</option>
													<option value="2">По дате добавления</option>
													<option value="3">По дате добавления</option>
												</select>
											</div>
										</div>

									</form>

									<div class="view-switcher">
										<a href="page-catalog.html" class="btn-ic">
											<svg  viewBox="0 0 22 18"  xmlns="http://www.w3.org/2000/svg">
												<path d="M0.365234 11.2695V6.23047H5.3457V11.2695H0.365234ZM0.365234 17.4805V12.5H5.3457V17.4805H0.365234ZM0.365234 5V0.0195312H5.3457V5H0.365234ZM6.63477 11.2695V6.23047H21.6348V11.2695H6.63477ZM6.63477 17.4805V12.5H21.6348V17.4805H6.63477ZM6.63477 0.0195312H21.6348V5H6.63477V0.0195312Z"/>
											</svg>
										</a>

										<span class="btn-ic is-active">
											<svg  viewBox="0 0 22 17"  xmlns="http://www.w3.org/2000/svg">
												<path d="M0.365234 7.51953V0.0195312H6.63477V7.51953H0.365234ZM0.365234 16.25V8.75H6.63477V16.25H0.365234ZM7.86523 16.25V8.75H14.1348V16.25H7.86523ZM15.3652 16.25V8.75H21.6348V16.25H15.3652ZM7.86523 7.51953V0.0195312H14.1348V7.51953H7.86523ZM15.3652 0.0195312H21.6348V7.51953H15.3652V0.0195312Z" />
											</svg>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!-- //container -->
					</div>

					<div class="catalog-products__block">
						<div class="container">
							<div class="row align-horisontal-start catalog-products__row">
								<div class="catalog-product-full">
									{% include '../parts/components/product-card-full.html' %}
								</div>
								<!-- //card -->

								<div class="catalog-product-full">
									{% include '../parts/components/product-card-full.html' %}
								</div>
								<!-- //card -->

								<div class="catalog-product-full">
									{% include '../parts/components/product-card-full.html' %}
								</div>
								<!-- //card -->

								<div class="catalog-product-full">
									{% include '../parts/components/product-card-full.html' %}
								</div>
								<!-- //card -->

								<div class="catalog-product-full">
									{% include '../parts/components/product-card-full.html' %}
								</div>
								<!-- //card -->

								<div class="catalog-product-full">
									{% include '../parts/components/product-card-full.html' %}
								</div>
								<!-- //card -->
							</div>
						</div>
						<!-- //container -->



					</div>
					<!-- //block -->



					<section class="sect__promo-slider gutter-bottom">

						<div class="promo-slider__wrapper">
							{% include '../parts/sections/stocks-slider.html' %}

							<div class="container">
								<!-- Controls -->
								<div class="slider-controls row align-vertical-center align-horisontal-between">
									<div class="slider-navigation">
										<button class="slider-navigation__btn slider-navigation__btn--prev js-promo-slider-full-btn-prev b-radius-7" type="button">
											{% include '../parts/components/btn-arrow.html' %}
										</button>
										<button class="slider-navigation__btn slider-navigation__btn--next js-promo-slider-full-btn-next b-radius-7" type="button">
											{% include '../parts/components/btn-arrow.html' %}
										</button>
									</div>

									<div class="slider-pagination js-promo-slider-full-pagination"></div>
								</div>
								<!-- //Controls -->

							</div>

						</div>
					</section>
					<!-- //sect promo slider -->

					<div class="catalog-products__block">
						<div class="container">
							<div class="row align-horisontal-start catalog-products__row">
								<div class="catalog-product-full">
									{% include '../parts/components/product-card-full.html' %}
								</div>
								<!-- //card -->

								<div class="catalog-product-full">
									{% include '../parts/components/product-card-full.html' %}
								</div>
								<!-- //card -->

								<div class="catalog-product-full">
									{% include '../parts/components/product-card-full.html' %}
								</div>
								<!-- //card -->

								<div class="catalog-product-full">
									{% include '../parts/components/product-card-full.html' %}
								</div>
								<!-- //card -->

								<div class="catalog-product-full">
									{% include '../parts/components/product-card-full.html' %}
								</div>
								<!-- //card -->

								<div class="catalog-product-full">
									{% include '../parts/components/product-card-full.html' %}
								</div>
								<!-- //card -->
							</div>
						</div>
						<!-- //container -->



					</div>
					<!-- //block -->


					<div class="catalog-pagination__wrapper">
						<div class="container">

							<div class="row align-horisontal-between row-nowrap align-vertical-center">
								

								<!-- Pagination -->
								<div class="pagination">
									<ul class="pagination-list">
										<li class="pagination-item pagination-item__prev">
											<a href="#" class="pagination-link">
												<svg viewBox="0 0 12 8"  xmlns="http://www.w3.org/2000/svg">
													<path d="M12 3.34375V4.65625H2.5625L4.9375 7.0625L4 8L0 4L4 0L4.9375 0.9375L2.5625 3.34375H12Z"/>
												</svg>
											</a>
										</li>
										<li class="pagination-item">
											<span class="pagination-link is-active">1</span>
										</li>
										<li class="pagination-item">
											<a href="#" class="pagination-link">2</a>
										</li>
										<li class="pagination-item">
											<a href="#" class="pagination-link">3</a>
										</li>

										<li class="pagination-item">
											<span class="pagination-link">...</span>
										</li>
										<li class="pagination-item">
											<a href="#" class="pagination-link">24</a>
										</li>
										<li class="pagination-item pagination-item__next">
											<a href="#" class="pagination-link">
												<svg viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
													<path d="M0 3.34375H9.4375L7.0625 0.9375L8 0L12 4L8 8L7.0625 7.0625L9.4375 4.65625H0V3.34375Z"/>
												</svg>

											</a>
										</li>
									</ul>
								</div>
								<!-- //Pagination -->

								<button class="btn" type="button">
									<span>Показать еще</span>
									<svg viewBox="0 0 7 11"  xmlns="http://www.w3.org/2000/svg">
										<path d="M4.07422 0.5V8.75781L6.17969 6.67969L7 7.5L3.5 11L0 7.5L0.820312 6.67969L2.92578 8.75781V0.5H4.07422Z"/>
									</svg>

								</button>

							</div>
						</div>
						<!-- //container -->
					</div>

				</div>
			</section>
			<!-- //products -->


			<section class="sect__advantages color-bg gutters">
				<h2 class="text-center container sect-title">Преимущества компании</h2>

				
				<div class="container">


					<div class="advantages-slider__wrapper">

						<div class="advantages-slider js-advantages-slider">

							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/1.svg');"></span>
								<h3 class="advantage__title">Надежная и быстрая доставка</h3>
							</div>

							<!-- //adv item -->


							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/2.svg');"></span>
								<h3 class="advantage__title">Оригинальные и качественные товары</h3>
							</div>

							<!-- //adv item -->


							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/3.svg');"></span>
								<h3 class="advantage__title">Гарантия на товары Virtuality Club</h3>
							</div>

							<!-- //adv item -->


							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/4.svg');"></span>
								<h3 class="advantage__title">Сервисный центр при магазине</h3>
							</div>

							<!-- //adv item -->


							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/5.svg');"></span>
								<h3 class="advantage__title">Эксперты на рынка<br> с 2015г.</h3>
							</div>

							<!-- //adv item -->
						</div>

						<div class="slider-pagination js-advantages-slider-pagination"></div>
					</div>

				</div>
				<!-- //container -->
				
			</section>



			{% include '../parts/sections/sect-feedbacks.html' %}
			<!-- //sect feedbacks -->







		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>