{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-gutter-top">

			

			<!-- Breadcrumbs -->
			<div class="breadcrumbs">
				<nav  class="container" aria-label="Breadcrumbs" itemprop="breadcrumb">
					<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

						<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
							<meta content="1" itemprop="position">
							<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
								<span itemprop="name">
									<span>Главная</span>
								</span>
							</a>
						</li>

						<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
							<meta content="2" itemprop="position">
							<a href="index.html" aria-label="Интернет-магазин" itemtype="https://schema.org/Thing" itemprop="item">
								<span itemprop="name">
									<span>Интернет-магазин</span>
								</span>
							</a>
						</li>

						<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
							<meta content="3" itemprop="position">
							<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
								<span itemprop="name">Сравнение товаров</span>
							</span>
						</li>
					</ul>
				</nav>
			</div>
			<!-- //Breadcrumbs -->


			<h1 class="sect-title container page-title">Сравнение товаров</h1>


			{% include '../parts/components/catalog/sect-categories.html' %}







		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>