<!-- Popup thanks-->
<div class="popup popup-thanks js-popup js-popup-thanks">
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<button class="btn-close js-close-popup-btn" type="button">
				<svg  viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.7998 1.81445L8.94043 7.625L14.7998 13.4355L13.335 14.9004L7.47559 9.08984L1.66504 14.9004L0.200195 13.4355L6.01074 7.625L0.200195 1.81445L1.66504 0.349609L7.47559 6.16016L13.335 0.349609L14.7998 1.81445Z" />
				</svg>
			</button>
			<!-- Popup content-->
			<div class="popup__content">
				<p class="popup__title text-center">Ваша заявка принята</p>
				<p class="popup__subtitle text-center">Наш менеджер свяжется с вами в ближайшее время</p>

			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup thanks-->