<!-- Popup marketplace-->
<div class="popup popup-marketplace js-popup js-popup-marketplace">
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<button class="btn-close js-close-popup-btn" type="button">
				<svg  viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.7998 1.81445L8.94043 7.625L14.7998 13.4355L13.335 14.9004L7.47559 9.08984L1.66504 14.9004L0.200195 13.4355L6.01074 7.625L0.200195 1.81445L1.66504 0.349609L7.47559 6.16016L13.335 0.349609L14.7998 1.81445Z" />
				</svg>
			</button>
			<!-- Popup content-->
			<div class="popup__content">
				<p class="popup__title">Очки виртуальной реальности HIPER VR MAX</p>
				<p class="product-articul">Артикул: 1639346</p>

				<div class="marketplaces">
					<p class="marketplaces-title">Купить в магазинах</p>

					<div class="marketplace">
						<div class="row align-vertical-center align-horisontal-between marketplace__row row-nowrap">
							<div class="marketplace-info marketplace__col">
								<div class="marketplace-info__logo">
									<img src="img/philips.png" alt="">
								</div>
								<p class="marketplace-status">На складе: <span>Да</span></p>
							</div>
							<div class="marketplace-price marketplace__col">
								<p class="marketplace-price__label">Цена: <span class="marketplace-price__old">4 290 ₽</span></p>
								<p class="marketplace-price__current sale">3 940 ₽</p>
							</div>
							<div class="marketplace-link marketplace__col">
								<a href="#" class="link link-accent" target="_blank" rel="nofollow">Перейти</a>
							</div>
						</div>
					</div>

					<div class="marketplace">
						<div class="row align-vertical-center align-horisontal-between marketplace__row row-nowrap">
							<div class="marketplace-info marketplace__col">
								<div class="marketplace-info__logo">
									<img src="img/philips.png" alt="">
								</div>
								<p class="marketplace-status not-available">На складе: <span>Нет</span></p>
							</div>
							<div class="marketplace-price marketplace__col">
								<p class="marketplace-price__label">Цена: <span class="marketplace-price__old">4 290 ₽</span></p>
								<p class="marketplace-price__current sale">3 940 ₽</p>
							</div>
							<div class="marketplace-link marketplace__col">
								<a href="#" class="link link-accent" target="_blank" rel="nofollow">Перейти</a>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup marketplace-->