<div class="filter gutter-bottom">
	<form>
		<div class="row filter__row align-horisontal-between">

			<div class="filter-fields__col filter__col">
				<div class="filter-group__col col-w-25">

					<div class="filter-group">
						<div class="filter-group__field">
							<input type="hidden" name="manufacturer">
							<span>Производитель</span>
						</div>
						<div class="filter-group__dropdown">
							<div class="filter-group__dropdown--content filter-group__dropdown--content_select">
								<ul>
									<li data-text="Производитель 1" data-id="1">Название произв. <span class="filter-group__count">(598)</span></li>
									<li data-text="Производитель 2" data-id="2">Название произв. <span class="filter-group__count">(598)</span></li>
									<li data-text="Производитель 3" data-id="3">Название произв. <span class="filter-group__count">(598)</span></li>
									<li data-text="Производитель 4" data-id="4">Название произв. <span class="filter-group__count">(598)</span></li>
									<li data-text="Производитель 5" data-id="5">Название произв. <span class="filter-group__count">(598)</span></li>
									<li data-text="Производитель 6" data-id="6">Название произв. <span class="filter-group__count">(598)</span></li>
									<li data-text="Производитель 7" data-id="7">Название произв. <span class="filter-group__count">(598)</span></li>
									<li data-text="Производитель 8" data-id="8">Название произв. <span class="filter-group__count">(598)</span></li>
									<li data-text="Производитель 9" data-id="9">Название произв. <span class="filter-group__count">(598)</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //col -->

				<div class="filter-group__col col-w-25">
					<div class="filter-group">
						<div class="filter-group__field">
							<span>Бренд</span>
							<span class="filter-group__field-counter is-hidden">5</span>
						</div>
						<div class="filter-group__dropdown">
							<div class="filter-group__dropdown--content">
								<label class="form-checkbox__label">
									<input name="brand-1" type="checkbox" class="filter-brand__checkbox" data-text="Бренд 1" data-id="1">
									<span class="form-checkbox filter-group__checkbox">Бренд <span class="filter-group__count">(598)</span></span>
								</label>
								<label class="form-checkbox__label">
									<input name="brand-2" type="checkbox" class="filter-brand__checkbox" data-text="Бренд 2" data-id="2">
									<span class="form-checkbox filter-group__checkbox">Бренд <span class="filter-group__count">(598)</span></span>
								</label>
								<label class="form-checkbox__label">
									<input name="brand-3" type="checkbox" class="filter-brand__checkbox" data-text="Бренд 3" data-id="3"> 
									<span class="form-checkbox filter-group__checkbox">Бренд <span class="filter-group__count">(598)</span></span>
								</label>
								<label class="form-checkbox__label">
									<input name="brand-4" type="checkbox" class="filter-brand__checkbox" data-text="Бренд 4" data-id="4">
									<span class="form-checkbox filter-group__checkbox">Бренд <span class="filter-group__count">(598)</span></span>
								</label>
								<label class="form-checkbox__label">
									<input name="brand-5" type="checkbox" class="filter-brand__checkbox" data-text="Бренд 5" data-id="5"> 
									<span class="form-checkbox filter-group__checkbox">Бренд <span class="filter-group__count">(598)</span></span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<!-- //col -->

				<div class="filter-group__col col-w-25">
					<div class="filter-group">
						<div class="filter-group__field">
							<input type="hidden" name="viewing angle">
							<span>Угол обзора</span>
						</div>
						<div class="filter-group__dropdown">
							<div class="filter-group__dropdown--content filter-group__dropdown--content_select">
								<ul>
									<li data-text="Любой" data-id="1">Все <span class="filter-group__count">(5)</span></li>
									<li data-text="180&#8728;" data-id="2">180&#8728; <span class="filter-group__count">(3)</span></li>
									<li data-text="360&#8728;" data-id="3">360&#8728; <span class="filter-group__count">(2)</span></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //col -->

				<div class="filter-group__col col-w-25">
					<div class="filter-group">
						<div class="filter-group__field">
							<input type="hidden" name="frequency">
							<span>Частота</span>
						</div>
						<div class="filter-group__dropdown">
							<div class="filter-group__dropdown--content filter-group__dropdown--content_select">
								<ul>
									<li data-text="Любая" data-id="1">Все <span class="filter-group__count">(5)</span></li>
									<li data-text="30 Гц" data-id="2">30 Гц <span class="filter-group__count">(3)</span></li>
									<li data-text="60 Гц" data-id="3">60 Гц <span class="filter-group__count">(2)</span></li>
									<li data-text="90 Гц" data-id="3">90 Гц <span class="filter-group__count">(2)</span></li>
									<li data-text="120 Гц" data-id="3">120 Гц <span class="filter-group__count">(2)</span></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //col -->

				<div class="filter-group__col col-w-25">
					<div class="filter-group">
						<div class="filter-group__field">
							<input type="hidden" name="buisness">
							<span>Бизнесу</span>
						</div>
						<div class="filter-group__dropdown">
							<div class="filter-group__dropdown--content filter-group__dropdown--content_select">
								<ul>
									<li data-text="Любая" data-id="1">Все <span class="filter-group__count">(5)</span></li>
									<li data-text="30 Гц" data-id="2">30 Гц <span class="filter-group__count">(3)</span></li>
									<li data-text="60 Гц" data-id="3">60 Гц <span class="filter-group__count">(2)</span></li>
									<li data-text="90 Гц" data-id="3">90 Гц <span class="filter-group__count">(2)</span></li>
									<li data-text="120 Гц" data-id="3">120 Гц <span class="filter-group__count">(2)</span></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //col -->

				<div class="filter-group__col col-w-25">
					<div class="filter-group">
						<div class="filter-group__field">
							<input type="hidden" name="stocks">
							<span>Акции</span>
						</div>
						<div class="filter-group__dropdown">
							<div class="filter-group__dropdown--content filter-group__dropdown--content_select">
								<ul>
									<li data-text="Все" data-id="1">Все <span class="filter-group__count">(5)</span></li>
									<li data-text="Акция 1" data-id="2">Акция 1 <span class="filter-group__count">(3)</span></li>
									<li data-text="Акция 2" data-id="3">Акция 2 <span class="filter-group__count">(2)</span></li>
									<li data-text="Акция 3" data-id="3">Акция 3 <span class="filter-group__count">(2)</span></li>
									<li data-text="Акция 4" data-id="3">Акция 4 <span class="filter-group__count">(2)</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //col -->

				<div class="filter-group__col col-w-25">
					<div class="filter-group">
						<div class="filter-group__field">
							<span>Цвет</span>
						</div>
						<div class="filter-group__dropdown">
							<div class="filter-group__dropdown--content">
								
								<label  class="filter-color__label">
									<input type="radio" name="color" value="black" data-text="Черный">
									<span class="filter-color" style="background-color: black;"></span>
									<span class="filter-color__text">Черный <span class="filter-group__count">(598)</span></span>
								</label>

								<label  class="filter-color__label">
									<input type="radio" name="color" value="white" data-text="Белый">
									<span class="filter-color filter-color__border" style="background-color: white;"></span>
									<span class="filter-color__text">Белый <span class="filter-group__count">(598)</span></span>
								</label>

								<label  class="filter-color__label">
									<input type="radio" name="color" value="pink" data-text="Розовый">
									<span class="filter-color" style="background-color: pink;"></span>
									<span class="filter-color__text">Розовый <span class="filter-group__count">(598)</span></span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<!-- //col -->

				<div class="filter-group__col col-w-25">
					<div class="filter-group">
						<div class="filter-group__field">
							<span>Рейтинг</span>
						</div>
						<div class="filter-group__dropdown">
							<div class="filter-group__dropdown--content">
								
								<label  class="filter-rating__label">
									<input type="radio" name="rating" value="5" data-text="5 звезд">
									<span class="filter-rating">
										<span class="filter-rating__value">5</span>
										<img src="img/rating/5.svg" alt="">
										<span class="filter-group__count">(598)</span>
									</span>
								</label>

								<label  class="filter-rating__label">
									<input type="radio" name="rating" value="4" data-text="4 звезды">
									<span class="filter-rating">
										<span class="filter-rating__value">4</span>
										<img src="img/rating/4.svg" alt="">
										<span class="filter-group__count">(598)</span>
									</span>
								</label>

								<label  class="filter-rating__label">
									<input type="radio" name="rating" value="3" data-text="3 звезды">
									<span class="filter-rating">
										<span class="filter-rating__value">3</span>
										<img src="img/rating/3.svg" alt="">
										<span class="filter-group__count">(598)</span>
									</span>
								</label>

								<label  class="filter-rating__label">
									<input type="radio" name="rating" value="2" data-text="2 звезды">
									<span class="filter-rating">
										<span class="filter-rating__value">2</span>
										<img src="img/rating/2.svg" alt="">
										<span class="filter-group__count">(598)</span>
									</span>
								</label>

								<label  class="filter-rating__label">
									<input type="radio" name="rating" value="1" data-text="1 звезда">
									<span class="filter-rating">
										<span class="filter-rating__value">1</span>
										<img src="img/rating/1.svg" alt="">
										<span class="filter-group__count">(598)</span>
									</span>
								</label>

								<label  class="filter-rating__label">
									<input type="radio" name="rating" value="all" data-text="Любой">
									<span class="filter-rating">
										<span class="filter-rating__value">Любой</span>
										<span class="filter-group__count">(598)</span>
									</span>
								</label>

								
							</div>
						</div>
					</div>
				</div>
				<!-- //col -->

				<div class="filter-group__col col-w-25 is-hidden">
					<label  class="form-checkbox-toggle__label">
						<input type="checkbox" name="Discount">
						<span class="form-checkbox-toggle">Со скидкой</span>
					</label>
				</div>

				<div class="filter-group__col col-w-25 is-hidden">
					<label  class="form-checkbox-toggle__label">
						<input type="checkbox" name="available">
						<span class="form-checkbox-toggle">Только в наличии</span>
					</label>
				</div>

				<div class="filter-group__col col-w-25 is-hidden">
					<label  class="form-checkbox-toggle__label">
						<input type="checkbox" name="Discount">
						<span class="form-checkbox-toggle">Со скидкой</span>
					</label>
				</div>

				<div class="filter-group__col col-w-25 is-hidden">
					<label  class="form-checkbox-toggle__label">
						<input type="checkbox" name="available">
						<span class="form-checkbox-toggle">Только в наличии</span>
					</label>
				</div>



				<div class="filter-group__col col-w-100 filter-tags filter-brands filter-brands-hidden">
					<!-- <span class="filter-brand filter-tag">Бренд 01</span> -->
				</div>


				<div class="filter-group__col col-w-100 filter-group__toggle">
					<button class="btn-toggle js-toggle-filter-fields-btn" type="button">
						<span>Расширенный фильтр</span>
						<svg  viewBox="0 0 9 13" xmlns="http://www.w3.org/2000/svg">
							<path d="M5.19727 0.25V10.2773L7.75391 7.75391L8.75 8.75L4.5 13L0.25 8.75L1.24609 7.75391L3.80273 10.2773V0.25H5.19727Z"/>
						</svg>

					</button>
				</div>

			</div>


			<div class="filter-price__col filter__col">
				<p>Цена</p>

				<div class="filter-prices">
					<input type="text" class="form-input js-price-min" name="min" placeholder="0">
					<span>-</span>
					<input type="text" class="form-input js-price-max" name="max" placeholder="0">
				</div>

				<div class="form-range">
					<div class="form-range__input js-filter-price"></div>
				</div>

				<button class="btn btn-wide" type="submit"><span>Применить</span></button>

				<button class="btn-clear" type="reset">
					<svg  viewBox="0 0 12 13" xmlns="http://www.w3.org/2000/svg">
						<path d="M11.8398 1.85156L7.15234 6.5L11.8398 11.1484L10.668 12.3203L5.98047 7.67188L1.33203 12.3203L0.160156 11.1484L4.80859 6.5L0.160156 1.85156L1.33203 0.679688L5.98047 5.32812L10.668 0.679688L11.8398 1.85156Z"/>
					</svg>
					<span>Сбросить фильтры</span>
				</button>
			</div>
		</div>
	</form>
</div>