<div class="article-card-slide card b-radius-10">
	<a href="page-article.html" class="article-card__thumbnail thumbnail">
		<img src="img/thumbnail.png" alt="">
	</a>
	<h3 class="article-card__title">
		<a href="page-article.html">Сайт рыбатекст поможет </a>
	</h3>
	<p>Сайт рыбатекст поможет дизайнеру, верстальщику, веб-мастеру сгенерировать несколько абзацев более менее текста рыбы на русском языке...</p>
	<div>
		<a href="page-article.html" class="btn-toggle">
			<span>Читать дальше</span>
			<svg viewBox="0 0 9 7"  xmlns="http://www.w3.org/2000/svg"><path d="M7.94531 0.683594L9 1.73828L4.5 6.23828L0 1.73828L1.05469 0.683594L4.5 4.12891L7.94531 0.683594Z"/></svg>
		</a>
	</div>
</div>