<article class="article-card b-radius-10 card">
	<div class="article-card__preview">
		<div class="article-card__thumbnail thumbnail">
			<img src="img/thumbnail.png" alt="">
		</div>
		<div class="article-card__preview-content">
			<h3 class="article-card__title">Сайт рыбатекст поможет </h3>

			<div class="article-card__preview-text content">
				<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных...</p>
			</div>

			<button class="btn-toggle btn-word-switcher js-toggle-article-card-content-btn" type="button">
				<span data-default-text="Читать дальше" data-active-text="Свернуть"></span>
				<svg viewBox="0 0 9 7"  xmlns="http://www.w3.org/2000/svg"><path d="M7.94531 0.683594L9 1.73828L4.5 6.23828L0 1.73828L1.05469 0.683594L4.5 4.12891L7.94531 0.683594Z"/></svg>
			</button>
		</div>
	</div>

	<div class="article-card__content is-hidden">
		<div class="content">
			<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные, тексты. Свою даже заголовок инициал вопроса возвращайся но своего свое рыбными, даль. Дороге, безопасную. Парадигматическая, злых это. Вскоре о все злых.</p>
			<p>Семь рот осталось пустился речью это текста прямо вершину маленькая продолжил запятой, эта там. Над рыбного, это образ живет своих его вопрос ipsum себя. Ipsum пор, алфавит свое переулка речью?</p>
		</div>

		<div class="article-card-gallery">
			<div class="article-card-gallery__item col-w-50">
				<a href="img/thumbnail.png" class="fancy-link thumbnail" data-fancybox="article-1">
					<img src="img/thumbnail.png" alt="">
				</a>
			</div>
			<div class="article-card-gallery__item col-w-50">
				<a href="video.mp4" class="fancy-link thumbnail fancy-link__video" data-fancybox="article-1">
					<img src="img/thumbnail.png" alt="">
				</a>
			</div>
		</div>
	</div>
</article>