<div class="feedback b-radius-10 card js-feedback">
	<div class="feedback-header row align-horisontal-between align-vertical-top row-nowrap">
		<div class="feedback-author">
			<div class="feedback-author__photo bg" style="background-image: url('img/empty.svg');"></div>
			<div class="feedback-author__info">
				<p class="feedback-author__name">Пантелеймон Кулиш</p>
				<div class="rating rating-4">
					<div class="rating-stars">
						<span class="rating-star"></span>
						<span class="rating-star"></span>
						<span class="rating-star"></span>
						<span class="rating-star"></span>
						<span class="rating-star"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="feedback-src card b-radius-7">
			<img src="img/google.png" alt="Google maps">
		</div>
	</div>

	<div class="feedback-text">
		<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на ....</p>
		<button class="link js-open-feedback-popup-btn" type="button">Подробнее</button>
	</div>

	<div class="feedback-link__wrapper">
		<a href="#" rel="nofollow" target="_blank" class="feedback-link">
			<span>Читать отзыв на google maps </span>
			{% include 'btn-arrow.html' %}
		</a>
	</div>
</div>