<article class="product-card card b-radius-10">
	{% include 'product-card/product-card-labels.html' %}

	<a href="page-product.html" class="product-card__thumbnail ">
		<img src="img/products/1.png" alt="">
	</a>

	<div class="product-card__content">
		<h3 class="product-card__title">
			<a href="page-product.html">Очки виртуальной реальности HIPER VR Max, черный </a>
		</h3>
		{% include 'product-card/product-card-rating.html' %}

		{% include 'product-card/product-card-prices.html' %}
		
		{% include 'product-card/product-card-btns.html' %}
		
		
	</div>
</article>