<!-- Labels -->
	<div class="product-labels">
		<span class="product-label product-label__sale">Новогодний Sale - 15%</span>

		<span class="product-label product-label__hidden product-label__installment">Рассрочка 0-0-18</span>
		<span class="product-label product-label__hidden product-label__stock">-50% на аксессуар</span>
		<span class="product-label product-label__hidden product-label__hit">Хит продаж</span>
		<span class="product-label product-label__hidden product-label__cashback">Кэшбэк 15%</span>


		<!-- Toggle btn -->
		<button class="btn-toggle-labels js-toggle-product-card-labels-btn" type="button">
			<svg  viewBox="0 0 5 8"  xmlns="http://www.w3.org/2000/svg">
				<path d="M1.16016 0.25L4.66016 3.75L1.16016 7.25L0.339844 6.42969L3.01953 3.75L0.339844 1.07031L1.16016 0.25Z" />
			</svg>
		</button>
	</div>
	<!-- //Labels -->