<div class="advantages block-border-bottom">
	<h2 class="sect-title">Преимущества</h2>

	<div class="advantages-slider__wrapper">

		<div class="advantages-slider js-advantages-slider">

			<div class="advantage">
				<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/1.svg');"></span>
				<h3 class="advantage__title">Надежная и быстрая доставка</h3>
			</div>

			<!-- //adv item -->


			<div class="advantage">
				<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/2.svg');"></span>
				<h3 class="advantage__title">Оригинальные и качественные товары</h3>
			</div>

			<!-- //adv item -->


			<div class="advantage">
				<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/3.svg');"></span>
				<h3 class="advantage__title">Гарантия на товары Virtuality Club</h3>
			</div>

			<!-- //adv item -->


			<div class="advantage">
				<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/4.svg');"></span>
				<h3 class="advantage__title">Сервисный центр при магазине</h3>
			</div>

			<!-- //adv item -->


			<div class="advantage">
				<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/5.svg');"></span>
				<h3 class="advantage__title">Эксперты на рынка<br> с 2015г.</h3>
			</div>

			<!-- //adv item -->
		</div>

		<div class="slider-pagination js-advantages-slider-pagination"></div>
	</div>
</div>