<div class="breadcrumbs">
	<nav  class="container" aria-label="Breadcrumbs" itemprop="breadcrumb">
		<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

			<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
				<meta content="1" itemprop="position">
				<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
					<span itemprop="name">
						<span>Главная</span>
					</span>
				</a>
			</li>

			<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
				<meta content="2" itemprop="position">
				<a href="index.html" aria-label="Интернет-магазин" itemtype="https://schema.org/Thing" itemprop="item">
					<span itemprop="name">
						<span>Интернет-магазин</span>
					</span>
				</a>
			</li>

			<li class="" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
				<meta content="3" itemprop="position">
				<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
					<span itemprop="name">Корзина</span>
				</span>
			</li>
		</ul>
	</nav>
</div>