.catalog-menu
	position absolute
	z-index 10
	top 100%
	left 0
	width 100%
	background-color $header-bg
	opacity 0
	visibility hidden
	pointer-events none
	margin-top 25px
	transition all .23s ease-in-out
	height calc(100vh - 127px)
	display flex
	&.is-opened
		opacity 1
		visibility visible
		pointer-events auto
		margin-top 0
	
	.container
		position relative

		
		.btn-close
			position absolute
			top 30px
			right 20px
			
	&__col
		height 100%

		
	&__row
		height 100%
	
	&__main
		width 390px
		flex none
		padding-top 30px
		padding-bottom 30px
		.catalog-menu__title
			color $accent-color
			
	&__categories
		width calc(100% - 720px)
		padding-left 60px
		padding-top 30px
		padding-bottom 30px
		
		.catalog-menu__title
			padding-right 25px
		
	&__adv
		width 330px
		flex none
		margin-left 35px
		padding-top 140px
		padding-bottom 30px
		
	&__title
		margin-bottom 20px
		font 25px $Bold
		line-height 35px
		&-mobile
			display none
		

.catalog-menu
	&__brands
		display block
		white-space nowrap
		width 100%
		
		// display flex
		// flex-wrap wrap
		margin-left -2.5px
		margin-right -2.5px
		padding-bottom 	10px
		&-wrapper
			margin-bottom 25px
			padding-right 	30px
	&__brand
		width 19%
		display inline-block	
		vertical-align top
		//width 120px
		padding 0 2.5px 5px
		a
			img
				filter grayscale(0)

.catalog-menu
	&__nav
		li
			display block
		
				
		a
			display flex
			min-height 45px
			align-items center
			font 17px $Bold
			padding 5px 15px 5px 0
			line-height 1
			color $text-color
			position relative
			z-index 1
			&:before
				pseudo()
				position absolute
				vertical-center()
				left 0
				height 1px
				width 0
				border-radius 50px
				background-color $accent-color
				transition width .17s ease-in-out
			&:after
				pseudo()
				position absolute
				height 100%
				right 0
				width 1000%
				opacity 0
				transition opacity .17s ease-in-out
				background-color rgba($accent-color, .1)
				pointer-events none
			&:hover
				color $accent-color
				padding-left 30px
				&:after
					opacity 1
				&:before
					width 20px
				

.site-sections
	margin-top 40px
	.catalog-menu__title
		color $text-color
		
	ul
		li
			margin-bottom 14px
			&:last-child
				margin-bottom 0
				
		a
			display inline-block
			padding-bottom 6px
			font 20px $Bold
			line-height 24px
			border-bottom 1px solid transparent
			color $text-color
			&:hover
				color $accent-color
				border-color $accent-color
				


.catalog-menu__categories
	&-lists
		display flex
		flex-wrap wrap
		justify-content flex-start
		margin-bottom -30px
		margin-left -15px
		margin-right -15px
	&-list
		width 50%
		margin-bottom 30px
		padding-left 15px
		padding-right 15px
		
		&_title
			margin-bottom 15px
			font-weight 700
			a
				color $text-color
				border-bottom 1px solid transparent
				&:hover
					color $accent-color
					border-color $accent-color
					
		ul
			li
				margin-bottom 15px
				display block
				&:last-child
					margin-bottom 0
			a
				color $text-color
				border-bottom 1px solid transparent
				&:hover
					color $accent-color
					border-color $accent-color
					

.catalog-menu__categories-lists_wrapper
	height 100%
	max-height 100%
	overflow-x hidden
	

.catalog-menu__lists
	height 100%
	max-height 100%
	

.catalog-menu__categories--block
	display none
	flex-direction column
	flex 1
	.catalog-menu__categories-lists_wrapper
		height auto
		flex 1
		max-height none
	&.is-active
		display flex

	



	

.catalog-menu__col

	display flex
	flex-direction column
	


.catalog-menu__col-scroll
	position relative
	border-right 1px solid $border-color
	&:before
		pseudo()
		position absolute
		top 0
		bottom 0
		right 10px
		width 1px
		background-color $border-color