.header
	background-color $header-bg
	position relative

	
	&-top
		padding 12px 0
		border-bottom 1px solid $alternate-border-color
		
	&-contacts
		flex 1
		&__item
			padding-left 20px
			padding-right 20px
			height 26px
			display flex
			align-items center
			justify-content center
			border-left 1px solid $alternate-border-color
			
	&-bottom
		padding 15px 0
		border-bottom 1px solid $alternate-border-color
		
	&-tools
		display flex
		flex-wrap nowrap
		
		&__item
			position relative
			&--col
				margin-right 30px
				&:last-child
					margin-right 0
					
		&__link
			display flex
			flex-wrap nowrap
			align-items center
			color $text-color
			position relative
			font 15px $Reg
			&--ic
				height 45px
				width 50px
				flex-col-center()
				border-radius 7px
				border 1px solid $accent-color
				transition all .17s ease-in-out
				flex none
				margin-left 10px
				svg
					svg()
					width 22px
					height 22px
					fill $text-color
					
			&--count
				flex-col-center()
				background-color $accent-color
				color $basic-white-color
				height 21px
				font 12px $Bold
				padding 3px 8px
				border-radius 50px
				position absolute
				z-index 1
				top -2px
				right -10px
				transition background-color .17s ease-in-out

			&:hover
				color $accent-color
				
				.header-tools__link
					&--ic
						background-color $accent-color
						svg
							fill $basic-white-color
							
					&--count
						background-color $dark-accent-color
			