.breadcrumbs
	margin-bottom 50px
	li
		position relative
		display inline-block
		
		&:after
			content '/'
		&:last-child
			&:after
				display none
				
	a
		color $light-text-color
		&:hover
			color $accent-color
		
	.is-active
		color #1D1D1F
		
