.btn
	display inline-flex
	align-items center
	justify-content center
	text-align center
	flex-wrap nowrap
	background-color $accent-color
	@extends .b-radius-7
	font 12px $Bold
	letter-spacing 0.1em
	color $basic-white-color
	text-transform uppercase
	padding 25px 60px
	svg
		svg()
		flex none
		width 11px
		height 8px
		fill $basic-white-color
		margin-left 10px
	&:hover
		background-color $dark-accent-color
		svg
			transform translateX(5px)
	
	&-link
		display inline-block
		color $accent-color
		white-space nowrap
		line-height 1
		border-bottom 1px solid
		&:hover
			color $darkest-accent-color
			
	&-add
		display inline-flex
		background-color $accent-color
		padding 4px
		align-items center
		color $basic-white-color
		padding-left 20px
		&__ic
			flex none
			width 42px
			height 42px
			position relative
			background-color $dark-accent-color
			margin-left 10px
			svg
				svg()
				position absolute
				position-center()
				fill $basic-white-color
				width 16px
				height 16px
		&__text
			flex 1
			text-align center
			font 12px $Bold
			letter-spacing 0.1em
			text-transform uppercase
			
		&:hover
			background-color $darkest-accent-color
			.btn-add__ic
				background-color $accent-color
				
	&-ic
		width 50px
		height 50px
		flex none
		border 1px solid $border-color
		position relative
		border-radius 7px
		svg
			svg()
			position absolute
			position-center()
			fill $light-text-color
			width 22px
			height 22px
		&:hover
			border-color $accent-color
			svg
				fill $text-color
				
		&.is-active
			background-color $accent-color
			svg
				fill $basic-white-color
	
	
		
	&-close
		display inline-block
		width 20px
		height 20px
		background url('../img/icons/svg/close-ic.svg') center center no-repeat
		background-size 20px 20px
		
	&-search
		display inline-block
		width 45px
		height 45px
		background-color $accent-color
		position relative
		border-radius 6px
		svg
			svg()
			fill $basic-white-color
			position absolute
			position-center()
			
		&__sm
			width 22px
			height 22px
			background-color transparent
			svg
				fill $accent-color
				
			&:hover
				svg
					fill $darkest-accent-color
		
		&__mobile
			display none
			svg
				height 22px
		
		
	
		

	&-hamburger
		display inline-flex
		align-items center
		justify-content center
		font-family $Reg
		line-height 1
		svg
			display block
			width 15px
			height 11px
			fill $accent-color
			transition fill .17s ease-in-out
			flex none
			margin-right 10px
			
		&:hover
			color $accent-color
			

	&-catalog
		flex 1
		padding-left 15px
		padding-right 15px
		width 100%
		max-width 260px
		display inline-flex
		align-items center
		justify-content center
		background-color $accent-color
		text-transform uppercase
		color $basic-white-color
		font 12px $Bold
		line-height 1
		letter-spacing 0.1em
		height 45px
		&:hover,
		&.is-active
			background-color $dark-accent-color
		svg
			svg()
			flex none
			width 15px
			height 11px
			fill $basic-white-color
			margin-right 15px
		
		