.btn
	display inline-flex
	align-items center
	justify-content center
	text-align center
	flex-wrap nowrap
	background-color $accent-color
	@extends .b-radius-7
	font 12px $Bold
	letter-spacing 0.1em
	color $basic-white-color
	text-transform uppercase
	padding 24px 60px
	border 1px solid $accent-color
	svg
		svg()
		flex none
		width 11px
		height 8px
		fill $basic-white-color
		margin-left 10px
	&:hover
		border-color $light-accent-color
		color $basic-white-color
		background-color $light-accent-color
		fill $basic-white-color
	
			
	&.is-active
		background-color $basic-white-color
		color $text-color
		svg
			fill $text-color
		&:hover
			border-color $dark-accent-color
			color $basic-white-color
			background-color $dark-accent-color
			
			
			svg
				fill $basic-white-color
			
		
			
	&.is-disabled,
	&:disabled
		opacity .5
		pointer-events none
		
	&-lg-ic
		svg
			width 15px
			height 15px
			
	&-dark
		border 1px solid #3C3C46
		background-color $basic-black-color
		color $accent-color
		padding 18px 42px
		svg
			fill $accent-color
		&:hover
			border-color $accent-color
			color $basic-white-color
			svg
				fill $basic-white-color
				
	&-light
		background-color $basic-white-color
		color $text-color
		border 1px solid $accent-color
		svg
			fill $text-color
			
		&:hover
			background-color $accent-color
			border-color $accent-color
			svg
				fill $basic-white-color
				
		&-inactive
			border-color $text-color
				
	&-sm
		padding 18px 20px
				
	&-password
		display inline-block
		width 15px
		height 15px
		position relative
		&:before
			pseudo()
			position absolute
			position-center()
			width 15px
			height 15px
			background url('../img/icons/svg/eye.svg') 50% no-repeat / contain
			opacity 0
		svg
			svg()
			fill $text-color
		&:hover
			svg
				fill $accent-color
		&.is-active
			svg
				opacity 0
			&:before
				opacity 1
			
	
	&-link
		display inline-block
		color $accent-color
		white-space nowrap
		line-height 1
		border-bottom 1px solid
		&:hover
			color $darkest-accent-color
			
	&-add
		display inline-flex
		background-color $accent-color
		padding 4px
		align-items center
		color $basic-white-color
		padding-left 12px
		white-space nowrap
		&__ic
			flex none
			width 42px
			height 42px
			position relative
			background-color $dark-accent-color
			margin-left 10px
			svg
				svg()
				position absolute
				position-center()
				fill $basic-white-color
				width 16px
				height 16px
		&__text
			flex 1
			text-align center
			font 12px $Bold
			letter-spacing 0.1em
			text-transform uppercase
			
		&:hover
			background-color $darkest-accent-color
			.btn-add__ic
				background-color $accent-color
				
	&-ic
		width 50px
		height 50px
		flex none
		border 1px solid $border-color
		position relative
		transition border-color .17s ease-in-out
		border-radius 7px
		svg
			svg()
			position absolute
			position-center()
			fill $light-text-color
			width 22px
			height 22px
		&:hover
			border-color $accent-color
			svg
				fill $text-color
				
		&.is-active
			background-color $accent-color
			svg
				fill $basic-white-color
	
	&-arrow
		&-sm
			display inline-block
			position relative
			width 40px
			height 22px
			border 1px solid $border-color
			background-color $basic-white-color
			svg
				svg()
				position absolute
				position-center()
				fill $text-color
				width 9px
			&:hover
				background-color $accent-color
				border-color $accent-color
				svg
					fill $basic-white-color
					
	&-slider-arrow
		display inline-block
		width 30px
		height 15px
		svg
			svg()
			fill #C9CCD0
		&:hover
			svg
				fill $accent-color
					
	&-wide
		width 100%
		padding-left 15px
		padding-right 15px
	
	
		
	&-close
		display inline-block
		width 40px
		height 40px
		position relative
		svg
			svg()
			width 15px
			height 15px
			fill $text-color
			position absolute
			position-center()
		&:hover
			svg
				fill $accent-color
				
		&-border
			border-radius 10px
			border 1px solid #C9CCD0
			&:hover
				border-color $accent-color
				background-color $accent-color
				svg
					fill $basic-white-color
		&-fill
			width 45px
			height 45px
			border-radius 10px
			background-color rgba($basic-white-color, .6)
		
	&-search
		display inline-block
		width 45px
		height 45px
		background-color $accent-color
		position relative
		border-radius 6px
		svg
			svg()
			fill $basic-white-color
			position absolute
			position-center()
			
		&__sm
			width 22px
			height 22px
			background-color transparent
			&:before
				pseudo()
				position absolute	
				position-center()
				z-index 1
				width 70%
				height 70%
				background url('../img/icons/svg/close-ic.svg') 50% no-repeat / contain
				transition opacity .17s ease-in-out
				opacity 0
			svg
				fill $accent-color
				
			&:hover
				svg
					fill $light-accent-color
					
			&.is-active
				svg
					opacity 0
				&:before
					opacity 1
		
		&__mobile
			display none
			svg
				height 22px
		
		

	&-toggle
		display inline-flex
		flex-wrap nowrap
		align-items center
		color $accent-color
		font 15px $Reg
		
		span
			display inline-block
			border-bottom 1px solid currentColor
		svg
			margin-left 5px
			svg()
			width 9px
			fill currentColor
		&:hover
			color $text-color
			svg
				fill $text-color
		&.is-toggled
			svg
				transform rotate(-180deg)
				
		&-triangle
			width 7px
			height 3px
			display none
			
			svg
				svg()
				fill $text-color
				
		&-arrow
			width 8px
			height 5px
			display none
			svg
				svg()
				fill $text-color
	
		

	&-hamburger
		display inline-flex
		align-items center
		justify-content center
		font-family $Reg
		line-height 1
		svg
			display block
			width 15px
			height 11px
			fill $accent-color
			transition fill .17s ease-in-out
			flex none
			margin-right 10px
			
		&:hover
			color $accent-color
			

	&-catalog
		flex 1
		padding-left 15px
		padding-right 15px
		width 100%
		max-width 260px
		display inline-flex
		align-items center
		justify-content center
		background-color $accent-color
		text-transform uppercase
		color $basic-white-color
		font 12px $Bold
		line-height 1
		letter-spacing 0.1em
		height 45px
		&:hover,
		&.is-active
			background-color $light-accent-color
		svg
			svg()
			flex none
			width 15px
			height 11px
			fill $basic-white-color
			margin-right 15px
			
	&-accordion
		display inline-block
		width 50px
		height 50px
		flex none
		border-radius 10px
		position relative
		border 1px solid $border-color
		svg
			svg()
			position absolute
			width 10px
			height 10px
			fill $text-color
			position-center()
		&:hover
			border-color $accent-color
			background-color $accent-color
			svg
				fill $basic-white-color
			
		&.is-toggled
			svg
				transform translate(-50%, -50%) rotate(-180deg)
				
	&-follow
		display inline-block
		width 40px
		height 40px
		border-radius 7px
		background-color rgba($basic-white-color, .4)
		position relative
		z-index 3	
		svg
			svg()
			width 16px
			height 16px
			fill $text-color
			position absolute
			position-center()
		&:hover
			background-color $basic-white-color
		&.is-active
			background-color $basic-white-color
			svg
				fill $accent-color
				
	&-clear
		display inline-block
		position relative
		margin-top 20px
		padding-left 22px
		font 17px $Reg
		svg
			position absolute
			left 0
			vertical-center()
			width 12px
			height 12px
			fill $text-color
			transition fill .17s ease-in-out
		&:hover
			color $accent-color
			svg
				fill $accent-color
			
		
	&-remove-all
		display inline-block
		position relative
		padding-left 30px
		font 15px $Reg
		color $accent-color
		svg
			position absolute
			vertical-center()
			left 0
			svg()
			width 15px
			height 19px
			fill $accent-color
		span
			border-bottom 1px solid currentColor
		&:hover
			color $text-color
			svg
				fill $text-color
				
	&-delete
		display inline-block
		width 20px
		height 24px
		svg
			svg()
			fill #C9CCD0
		&:hover
			svg
				fill $accent-color

span.btn.is-active
	&:hover
		background-color $basic-white-color
		color $text-color
		border-color $accent-color