input[type="search"]
	appearance none
	-webkit-appearance none			

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
	appearance none
	-webkit-appearance none
	backface-visibility hidden
	transform translate3d(0,0,0)




.form
	&-input
		display block
		width 100%
		padding 19px 25px
		text-align left
		background-color $basic-white-color
		border 1px solid $light-border-color
		font 17px $Reg
		color $text-color
		border-radius 7px
		&:hover,
		&:focus
			border-color $accent-color
		&::-webkit-input-placeholder
			font 17px $Reg
			color $light-text-color
		&::-moz-placeholder
			font 17px $Reg
			color $light-text-color
		&:-moz-placeholder
			font 17px $Reg
			color $light-text-color
		&:-ms-input-placeholder
			font 17px $Reg
			color $light-text-color
		
			
	&-group
		margin-bottom 15px
		text-align left
		position relative
		&:last-child
			margin-bottom 0
			
		&.text-center
			text-align center
			.link
				font-size 15px
			
		&__label
			display block
			> span
				display block
				margin-bottom 15px
				color $light-text-color
			
		&__error
			display none
			margin-top 10px
			font 12px $Reg
			color $error-color
			
		&__password
			.form-input
				padding-right 50px
				
			.btn-password
				position absolute
				right 20px
				z-index 1
				top 24px
			
		&__checkbox
			margin 25px 0
			&:first-child
				margin-top 0
			
		&.is-error
			.form-group__error
				display block
			.form-input
				border-color $error-color
			
	&-textarea
		min-height 150px
	



.form
	&-checkbox
		display inline-block
		position relative
		padding-left 50px
		font 15px $Reg
		line-height 22px
		color $text-color
		a
			color $accent-color
			border-bottom 1px solid
			&:hover
				color $text-color
		&:before
			pseudo()
			transition all .17s ease-in-out
			position absolute
			left 0
			top 3px
			border-radius 7px
			width 35px
			height 35px
			border 1px solid $light-border-color
			background-position 50% 50%
			background-repeat no-repeat
			background-size 17px
			
		&__label
			display inline-block
			input
				display none
				&:checked
					+ span
						&:before
							background-color $accent-color
							border-color $accent-color
							background-image url('../img/icons/svg/checkbox-ic.svg')
		
		&__center
			&:before
				vertical-center()
							



.form-rating
	display flex
	flex-wrap nowrap
	align-items center
	justify-content flex-start
	&__label
		font 17px $Reg
		display inline-block
		margin-right 15px
		
	&__stars
		position relative
		height 23px
		width 120px
		background url('../img/icons/svg/rating.svg') repeat-x / 24px 23px
		
	&__star
		position absolute
		top 0
		left 0
		height 100%
		background-repeat repeat-x
		background-size 24px 23px
		&:nth-of-type(1)
			z-index 5
			width 20%
		&:nth-of-type(2)
			z-index 4
			width 40%
		&:nth-of-type(3)
			z-index 3
			width 60%
		&:nth-of-type(4)
			z-index 2
			width 80%
		&:nth-of-type(5)
			z-index 1
			width 100%
			
		&:hover
			background-image url('../img/icons/svg/rating-fill.svg')
			
	&__input
		&:checked + .form-rating__star
			background-image url('../img/icons/svg/rating-fill.svg')
			
		
		

.form-tools
	position absolute
	right 25px
	top 10px
	display flex
	align-items center
	z-index 1
	flex-wrap nowrap

	.link
		font-size 17px
		
	.form-file-sm
		margin-left 15px
		

.form-file
	display flex
	justify-content center
	align-items center
	border-radius 10px
	border 1px dashed $border-color
	height 140px
	transition border-color .17s ease-in-out
	position relative
	
	&-loader
		z-index 2
		flex-col-center()
		position absolute
		background-color $basic-white-color

	
	input
		display none
	svg
		display inline-block
		svg()
		width 10px
		flex none
		margin-right 10px
	span,
	.link
		font-size 17px
	&:hover
		cursor pointer
		border-color $accent-color
		.link
			color $text-color
			
	&-sm
		display inline-block
		border 1px solid $border-color
		border-radius 10px
		flex none
		width 40px
		height 40px
		transition border-color .17s ease-in-out
		position relative
		svg
			svg()
			position absolute
			position-center()
			pointer-events none
			width 10px
			fill $text-color
		input
			display none
		&:hover
			border-color $accent-color
			cursor pointer
			

.form-groups
	&__row
		margin-left -7.5px
		margin-right -7.5px
		flex-wrap wrap
		padding-bottom 30px
		margin-bottom 30px
		position relative
		&:before
			pseudo()
			position absolute
			left 15px
			right 15px
			height 1px
			background-color $border-color
			bottom 0
		&:last-child
			padding-bottom 0
			margin-bottom 0
			&:before
				display none
				
		.form-group
			margin-bottom 15px
			padding-left 7.5px
			padding-right 7.5px
			&:last-child
				margin-bottom 0
			
	&__user
		.form-group
			margin-bottom 30px
			

.form-file
	
	&__results
		margin-top 20px
		margin-bottom -20px
		display flex
		flex-wrap wrap
		margin-left -10px
		margin-right -10px
	&__result
		padding-left 10px
		padding-right 10px
		margin-bottom 20px
		width calc(100% / 6)
		&--img
			display block
			width 100%
			padding-top 79%
			border-radius 10px
			margin-bottom 10px
		&--name
			display inline-flex
			flex-wrap nowrap
			align-items center
			span
				display inline-block
				max-width 120px
				line-height 20px
				flex 1
				overflow hidden
				text-overflow ellipsis
				
			.btn-close
				width 12px
				flex none
				height 12px
				margin-left 8px
				svg
					width 100%
					height 100%