.ic-block
	display inline-block
	position relative
	padding-left 22px
	&:before
		pseudo()
		position absolute
		vertical-center()
		left 0
		width 15px
		height 15px
		background-repeat no-repeat
		background-size contain
		background-position 50%
		
	&__worktime
		&:before
			background-image url('../img/icons/svg/clock.svg')
	&__phone
		&:before
			background-image url('../img/icons/svg/phone.svg')
			

.phone-link
	color $text-color
	white-space nowrap
	&:hover
		color $accent-color
		

// Timer
.timer
	display flex
	align-items center
	border 1px solid #E64646
	background-color $basic-white-color
	height 74px
	&-items
		display flex
		flex-wrap nowrap
		justify-content space-evenly
		width 100%
		padding-left 20px
		padding-right 20px
	&-item
		text-align center
		span
			display block
		&__value
			font 20px $Bold
			line-height 23px
			color #E64646
			letter-spacing 5px
			margin-bottom 1px
		&__label
			font 15px $Reg
			color $text-color
			line-height 20px
		&__divider
			font 20px $Bold
			color $text-color
			display block
			margin 0 10px
	&-title
		margin-bottom 4px
		font 25px $Bold
		line-height 35px
	&-wrapper
		margin-bottom 10px
		
// tab conrols
.tab-controls
	white-space nowrap
	overflow-x auto
	&__btn
		display inline-block
		margin-right 10px
		vertical-align top
		border 1px solid $border-color
		text-align center
		font 12px $Bold
		padding 18px 20px
		text-transform uppercase
		letter-spacing 0.1em
		color $light-text-color
		background-color $basic-white-color
		&:hover,
		&.is-active
			color $text-color
			border-color $accent-color
		&:last-child
			margin-right 0
			
.tab-controls-slider
	&__wrapper
		display flex
		flex-wrap nowrap
		flex-grow 1
		min-width 0
		justify-content flex-end
		

				
.tab-controls-slider__navigation
	flex none
	width 40px
	display flex
	margin-left 5px
	flex-direction column
	button
		margin-bottom 5px
		&:last-child
			margin-bottom 0
			
// Rating
.rating
	display flex
	align-items center
	justify-content flex-start
	&-value
		display inline-block
		margin-left 10px
		font 15px $Reg
	
	&-stars
		display flex
		flex-wrap nowrap
		width 100px
		justify-content space-between
	&-0
		.rating-star
			background-image url('../img/icons/svg/rating.svg')
	&-1
		.rating-star:not(:first-child)
			background-image url('../img/icons/svg/rating.svg')
	&-2
		.rating-star
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5)
				background-image url('../img/icons/svg/rating.svg')
	&-3
		.rating-star
			&:nth-child(4),
			&:nth-child(5)
				background-image url('../img/icons/svg/rating.svg')
	&-4
		.rating-star
			&:nth-child(5)
				background-image url('../img/icons/svg/rating.svg')
	
			
	&-star
		display inline-block
		width 17px
		height 17px
		background url('../img/icons/svg/rating-fill.svg') 50% no-repeat / contain



.link
	color $text-color
	font 1em $Reg
	border-bottom 1px solid 
	&.is-hidden
		display none
	&:hover
		color $accent-color
		
	&-accent
		color $accent-color
		&:hover
			color $darkest-accent-color
	&-danger
		color #E54646
		&:hover
			color $text-color
			

.fancy-link
	position relative
	overflow hidden
	display block
	&:before,
	&:after
		pseudo()
		position absolute
		transition all .17s ease-in-out
	&:before
		top 0
		left 0
		width 100%
		height 100%
		background-color rgba($basic-black-color, .7)
		z-index 1
		opacity 0
	&:after
		position-center()
		z-index 2
		width 55px
		height 55px
		border-radius 50%
		background rgba($basic-white-color, .25) url('../img/icons/svg/zoom.svg') 50% no-repeat / 16px 16px
		margin-top 20px
		opacity 0
	&:hover
		&:before
			opacity 1
		&:after
			opacity 1
			margin-top 0
			
	&__video
		&:after
			background-image url('../img/icons/svg/video.svg')
	
		
		

.socials
	font-size 0
	white-space nowrap
	li
		display inline-block
		margin-right 7px
		&:last-child
			margin-right 0
			
	a
		display block
		position relative
		width 50px
		height 50px
		border-radius 10px
		border 1px solid #3C3C46
		svg
			svg()
			position absolute
			position-center()
			width 20px
			height 20px
			fill #3C3C46
		&:hover
			border-color $accent-color
			svg
				fill $basic-white-color
				
	&-default
		a
			border-color $border-color
			svg
				fill $light-text-color
			&:hover
				svg
					fill $text-color
				

// Adv banner
.offer-block
	overflow hidden
	display flex
	flex-direction column
	justify-content space-between
	text-align center
	line-height 27px
	font 17px $Reg
	min-height 500px
	padding 20px 15px
	color $text-color

	&__title
		font 60px $Bold
		line-height 70px
		margin-bottom 3px
		
	&__dark
		color #D0DCEF
		.offer-block__title
			color $basic-white-color
	
	&__sm
		font-size 15px
		line-height 25px
		min-height 320px
		img
			display block
			margin 30px auto 0
			max-width 260px
		.offer-block
			&__title
				font-size 33px
				line-height 43px
				
	&__color
		color #FFE7E7
		.offer-block
			&__title
				color $basic-white-color
		

// custom scroll
.styled-scroll
	padding-right 15px
		
	.os-content-glue
		width 100% !important
		
	.os-content
		padding-right 11px !important
		
	.os-scrollbar-vertical
		right 2.5px
			
	&.os-theme-dark,
	.os-theme-light
		> .os-scrollbar
			> .os-scrollbar-track
				background-color $border-color
	
				> .os-scrollbar-handle
					background-color #3C3C46
					


.os-theme-dark,
.os-theme-light
	>.os-scrollbar
		>.os-scrollbar-track
			background-color $border-color
			>.os-scrollbar-handle
				background-color #3C3C46
				
.os-theme-dark,
.os-theme-light
	>.os-scrollbar-vertical
		width 5px
		padding 0
				

// Dropdown
.dropdown
	position absolute
	top 100%
	width 430px
	horisontal-center()
	z-index 10
	padding-top 30px
	opacity 0
	visibility hidden
	pointer-events none
	margin-top 25px
	transition all .23s ease-in-out
	
	&-wrapper
		position relative
		&:hover
			.header-tools__link
				color $accent-color
			.dropdown
				opacity 1
				visibility visible
				pointer-events auto
				margin-top 0
		
	&-content

		background-color $basic-white-color
		box-shadow 7px 6px 13px -10px rgba(28, 26, 26, 0.15), 8px 8px 30px -6px rgba(28, 26, 26, 0.1)
		
		.product-prices
			font-size 15px
			margin-bottom 0
			margin-top 10px
			
			
		.product-prices
			&__old,
			&__new
				font-size inherit
		
	&-footer
		
		padding 20px 25px 25px
		box-shadow 7px -24px 23px -24px rgba(119, 129, 140, 0.34)
		&__btns
			display flex
			flex-wrap nowrap
			.btn
				flex 1
				margin-right 10px
				padding 18px 10px
				&:last-child
					margin-right 0
				
		&__text
			display flex
			justify-content space-between
			width 100%
			font-weight 600
			margin-bottom 20px
			b, strong
				font-family $Reg
				font-weight 700
				
	&-header
		display flex
		align-items center
		justify-content space-between
		flex-wrap nowrap
		padding 25px 25px 0
		
	&-body
		padding 25px 12px 25px 25px
		&__content
			height 100%
			max-height 200px
			padding-right 15px !important
			
			.os-content
				padding-right 25px !important
		
	&-notice
		font-weight 600
		
	&-title
		font 20px $Bold
		
	&-product
		padding-bottom 10px
		margin-bottom 10px
		display flex
		flex-wrap nowrap
		position relative
		padding-right 20px
		border-bottom 1px solid $border-color
		&__thumbnail
			flex none
			width 115px
			height 80px
			flex-col-center()
			padding 15px
			margin-right 15px
			img
				@extends .content-img
		.btn-close
			width 10px
			height 10px
			position absolute
			vertical-center()
			right 0
			svg
				width 100%
				height 100%
				
		&__title
			font-size 15px
			line-height 22px
			font-weight 600
			a
				color $text-color
				&:hover
					color $accent-color
		&:last-child
			padding-bottom 0
			margin-bottom 0
			border-bottom none
		
	
		
// Atteintion block
.attention-block
	border-radius 10px
	background-color rgba(0, 149, 217, 0.05)
	border 1px solid rgba(0, 149, 217, 0.5)
	padding 25px
	font-size 17px
	
// DAtepicker
.ui-widget
	&.ui-widget-content
		border-radius 7px
		border 1px solid $border-color
		padding 10px
		margin-top 10px
		
	.ui-widget-header
		background-color $color-bg
		border none
		font 15px $Reg
		font-weight 600
		
.ui-datepicker 
	font-family $Reg

.ui-datepicker td
	text-align center
	
.ui-state-default, 
.ui-widget-content .ui-state-default
	background-color $color-bg
	border-color $border-color

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight
	background-color $light-accent-color
	color $basic-white-color
	border-color $light-accent-color
	

	
.ui-widget-content 
	.ui-state-active
		background-color $accent-color
		color $basic-white-color
		border-color $accent-color
		
.ui-datepicker 
	.ui-datepicker-next,
	.ui-datepicker-prev
		border 1px solid $border-color
		background-color $basic-white-color
		border-radius 6px
	.ui-datepicker-next-hover
		right 2px
	.ui-datepicker-prev-hover
		left 2px



// Prev
.prev-link
	display inline-block
	color $accent-color
	position relative
	font 1em $Reg
	position relative
	padding-left 20px
	span
		border-bottom 1px solid currentColor
	svg
		position absolute
		left 0
		vertical-center()
		width 13px
		height 9px
		fill $accent-color
		display inline-block
		transition fill .17s ease-in-out
	&:hover
		color $text-color
		svg
			fill $text-color
			

.viewers
	color $light-text-color
	display inline-block
	position relative
	padding-right 20px
	line-height 1
	font 15px $Reg
	span
		display inline-block
		margin-left 5px
	&:after
		pseudo()
		background url('../img/icons/svg/view.svg') 50% no-repeat / contain
		width 17px
		position absolute
		height 10px
		vertical-center()
		right 0
		
.likes
	display inline-block
	color $accent-color
	position relative
	padding-right 20px
	font 15px $Reg
	line-height 1
	span
		display inline-block
		margin-left 5px
		font-size 20px
		font-weight 700
	&:after
		pseudo()
		width 15px
		height 15px
		position absolute
		bottom 2px
		right 0
		background url('../img/icons/svg/like.svg') 50% no-repeat / contain