.popup 
	position fixed
	position-center()
	z-index 90
	width 100%
	height 100%
	display none
	&__overflow
		position absolute
		left 0
		top 0
		width 100%
		backface-visibility hidden
		-webkit-backface-visibility hidden
		height 100%
		overflow auto
		box-sizing border-box
		-webkit-overflow-scrolling touch
		z-index 105
		background-color rgba($popup-overlay-bg, $popup-overlay-opacity)
		padding 10px
		text-align center
		white-space nowrap
		&:before
			pseudo()
			vertical-align middle
			width 0
			height 100%
	&__body
		width 100%
		max-width 565px
		background-color $popup-body-bg
		padding 50px 
		display inline-block
		vertical-align middle
		position relative
		white-space normal
		border-radius 10px
		

	&__title
		font 28px $Bold
		line-height 38px
		margin-bottom 10px
	&__subtitle
		font-size 17px
		line-height 27px
		margin-bottom 30px
		
	.btn-close
		position absolute
		top 5px
		right 5px



.popup-thanks
	.popup__subtitle
		margin-bottom 0
		
.popup-feedback
	.popup__body
		max-width 650px