.popup 
	position fixed
	position-center()
	z-index 90
	width 100%
	height 100%
	display none
	&__overflow
		position absolute
		left 0
		top 0
		width 100%
		backface-visibility hidden
		-webkit-backface-visibility hidden
		height 100%
		overflow auto
		box-sizing border-box
		-webkit-overflow-scrolling touch
		z-index 105
		background-color rgba($popup-overlay-bg, $popup-overlay-opacity)
		padding 10px
		text-align center
		white-space nowrap
		&:before
			pseudo()
			vertical-align middle
			width 0
			height 100%
	&__body
		width 100%
		max-width 565px
		background-color $popup-body-bg
		padding 50px 
		display inline-block
		vertical-align middle
		position relative
		white-space normal
		border-radius 10px
		

	&__title
		font 28px $Bold
		line-height 38px
		margin-bottom 10px
	&__subtitle
		font-size 17px
		line-height 27px
		margin-bottom 30px
		
	.btn-close
		position absolute
		top 5px
		right 5px



.popup-thanks
	.popup__subtitle
		margin-bottom 0
		
.popup-feedback
	.popup__body
		max-width 650px
		

.popup-follow
	.form-checkbox
		font-size 17px
		
	.form-group__submit
		margin-top 35px
		

.faq-answer
	display flex
	flex-wrap nowrap
	&__img
		width 45%
	&__content
		width 55%
		padding 50px 100px 50px 50px
		text-align left
		
	&__title
		font 25px $Bold
		margin-bottom 5px
		
	&__text
		margin-bottom 15px
		font-size 17px
		p
			margin-bottom 20px
			&:last-child
				margin-bottom 0
		
	&__btns
		display flex
		flex-wrap nowrap
		.btn
			flex 1
			margin-right 10px
			padding-left 10px
			padding-right 10px
			&:last-child
				margin-right 0

	
.popup-faq
	.popup__body
		max-width 1140px
		padding 0
		overflow hidden
		
	.viewers,
	.likes
		margin-bottom 20px