.search
	&-wrapper
		flex 1
		margin-left 20px
		margin-right 30px
	&-form
		width 100%
		display block
		&__group
			position relative
			

			
		&__input
			width 100%
			display block
			height 45px
			background-color $basic-white-color
			border 1px solid $border-color
			padding 12px 55px 12px 15px
			font 16px $Reg
			color $text-color
			&:hover,
			&:focus
				border-color $accent-color
			&::-webkit-input-placeholder
				font 15px $Reg
				color $light-text-color
			&::-moz-placeholder
				font 15px $Reg
				color $light-text-color
			&:-moz-placeholder
				font 15px $Reg
				color $light-text-color
			&:-ms-input-placeholder
				font 15px $Reg
				color $light-text-color
		&__btn
			position absolute
			vertical-center()
			right 6px
			z-index 1
			width 37px
			height 37px
			background-color $accent-color
			border-radius 6px
			svg
				svg()
				position absolute
				position-center()
				fill $basic-white-color
				width 22px
				height 22px
			&:hover
				background-color $dark-accent-color
				

.search-form-lg
	.search-form
		&__input
			height 65px
			font-size 17px
			&::-webkit-input-placeholder
				font-size 17px

			&::-moz-placeholder
				font-size 17px
			&:-moz-placeholder
				font-size 17px
			&:-ms-input-placeholder
				font-size 17px
		&__btn
			width 45px
			height 45px
			right 10px

.footer-search
	margin-bottom 50px
	.search-form
		&__input
			background-color #1A1A1C
			border-color #3C3C46
			font-size 15px
			&:hover,
			&:focus
				border-color $accent-color
			&::-webkit-input-placeholder
				font 1em $Reg
				color $footer-text-color
			&::-moz-placeholder
				font 1em $Reg
				color $footer-text-color
			&:-moz-placeholder
				font 1em $Reg
				color $footer-text-color
			&:-ms-input-placeholder
				font 1em $Reg
				color $footer-text-color
				

.site-search
	flex 1
	padding-right 20px
	transition all .23s ease-in-out
	opacity 0
	visibility hidden
	pointer-events none
	&.is-opened
		opacity 1
		visibility visible
		pointer-events auto
	.search-form__input
		height 30px
		font-size 13px
		&::-webkit-input-placeholder
			font-size 13px

		&::-moz-placeholder
			font-size 13px
		&:-moz-placeholder
			font-size 13px
		&:-ms-input-placeholder
			font-size 13px
		
	.search-form__btn
		height 25px
		width 25px
		svg
			width 15px
			height 15px