<div class="catalog-menu js-catalog-menu">
	<div class="container">

		<button class="btn-close btn-close-border js-close-catalog-menu-btn" type="button">
			<svg  viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
				<path d="M14.7998 1.81445L8.94043 7.625L14.7998 13.4355L13.335 14.9004L7.47559 9.08984L1.66504 14.9004L0.200195 13.4355L6.01074 7.625L0.200195 1.81445L1.66504 0.349609L7.47559 6.16016L13.335 0.349609L14.7998 1.81445Z" />
			</svg>
		</button>

		<div class="catalog-menu__row row row-nowrap align-vertical-start">
			<div class="catalog-menu__main catalog-menu__col">
				<p class="catalog-menu__title">Каталог</p>

				<div class="catalog-menu__lists">
					<nav class="catalog-menu__nav">
						<ul>
							<li><a href="#">VR Шлемы</a></li>
							<li><a href="#">AR/MR Очки</a></li>
							<li><a href="#">Аксессуары</a></li>
							<li><a href="#">Контроллеры и джойстики</a></li>
							<li><a href="#">Системы позиционного трекинга</a></li>
							<li><a href="#">Камеры для VR</a></li>
							<li><a href="#">Игровые комплекты VR</a></li>
							<li><a href="#">Компьютеры VR Ready</a></li>
							<li><a href="#">Игры и Программы</a></li>
							<li><a href="#">Квадрокоптеры</a></li>
							<li><a href="#">3Д Технологии</a></li>
							<li><a href="#">VR Аттракционы</a></li>
							<li><a href="#">Образовательные решения</a></li>
							<li><a href="#">Наши услуги</a></li>
						</ul>
					</nav>

					<nav class="site-sections">
						<p class="catalog-menu__title">Разделы сайта</p>

						<ul>
							<li><a href="#">Магазин</a></li>
							<li><a href="#">VR Клуб</a></li>
							<li><a href="#">Сервис</a></li>
							<li><a href="#">VR Бизнес</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- //left col -->

			<div class="catalog-menu__categories catalog-menu__col">
				<div class="catalog-menu__brands"></div>

				<div class="catalog-menu__categories-lists_wrapper">
					<p class="catalog-menu__title">Системы позиционного трекинга</p>

					<div class="catalog-menu__categories-lists">
						<nav class="catalog-menu__categories-list">
							<p class="catalog-menu__categories-list_title"><a href="#">VR аксессуары</a></p>
							<ul>
								<li><a href="#">VR комплектующие</a></li>
								<li><a href="#">Кабель и кабель менеджмент</a></li>
								<li><a href="#">Накладки и защитные чехлы</a></li>
								<li><a href="#">Кейсы, сумки, футляры</a></li>
								<li><a href="#">Питание,адаптерыиаккумуляторы</a></li>
								<li><a href="#">Крепления, ремни, держатели</a></li>
								<li><a href="#">Наушники и гарнитуры</a></li>
							</ul>
						</nav>

						<nav class="catalog-menu__categories-list">
							<p class="catalog-menu__categories-list_title"><a href="#">Аксессуары для контроллеров</a></p>
							<ul>
								<li><a href="#">VR комплектующие</a></li>
								<li><a href="#">Кабель и кабель менеджмент</a></li>
								<li><a href="#">Накладки и защитные чехлы</a></li>
								<li><a href="#">Кейсы, сумки, футляры</a></li>
							</ul>
						</nav>

						<nav class="catalog-menu__categories-list">
							<p class="catalog-menu__categories-list_title"><a href="#">Аксессуары для ПК, ноутбуков и консолей</a></p>
							<ul>
								<li><a href="#">VR комплектующие</a></li>
								<li><a href="#">Кабель и кабель менеджмент</a></li>
								<li><a href="#">Накладки и защитные чехлы</a></li>
								<li><a href="#">Кейсы, сумки, футляры</a></li>
								<li><a href="#">Питание,адаптерыиаккумуляторы</a></li>
								<li><a href="#">Питание,адаптерыиаккумуляторы</a></li>
								<li><a href="#">Крепления, ремни, держатели</a></li>
								<li><a href="#">Крепления, ремни, держатели</a></li>
								<li><a href="#">Наушники и гарнитуры</a></li>
								<li><a href="#">Наушники и гарнитуры</a></li>
							</ul>
						</nav>

						<nav class="catalog-menu__categories-list">
							<p class="catalog-menu__categories-list_title"><a href="#">Аксессуары для ПК, ноутбуков и консолей</a></p>
							<ul>
								<li><a href="#">VR комплектующие</a></li>
								<li><a href="#">Кабель и кабель менеджмент</a></li>
								<li><a href="#">Накладки и защитные чехлы</a></li>
								<li><a href="#">Кейсы, сумки, футляры</a></li>
								<li><a href="#">Питание,адаптерыиаккумуляторы</a></li>
								<li><a href="#">Питание,адаптерыиаккумуляторы</a></li>
								<li><a href="#">Крепления, ремни, держатели</a></li>
								<li><a href="#">Крепления, ремни, держатели</a></li>
								<li><a href="#">Наушники и гарнитуры</a></li>
								<li><a href="#">Наушники и гарнитуры</a></li>
							</ul>
						</nav>


					</div>
				</div>
			</div>
			<!-- //center col -->

			<div class="catalog-menu__adv catalog-menu__col">
				<div class="offer-block b-radius-10 bg" style="background-image: url('img/offer.png');">
					<div class="offer-block__content text-center">
						<p class="offer-block__title">Sale -50%</p>
						<p>Сайт рыбатекст поможет дизайнеру</p>
					</div>

					<div>
						<a href="#" class="btn">
							<span>Подробнее</span>
							{% include '../components/btn-arrow.html' %}
						</a>
					</div>
				</div>
			</div>
			<!-- //right col -->

		</div>
	</div>
	<!-- //container -->
</div>