<div class="catalog-menu js-catalog-menu">
	<div class="container">

		<p class="catalog-menu__title catalog-menu__title-mobile">Каталог</p>

		<button class="btn-close btn-close-border js-close-catalog-menu-btn" type="button">
			<svg  viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
				<path d="M14.7998 1.81445L8.94043 7.625L14.7998 13.4355L13.335 14.9004L7.47559 9.08984L1.66504 14.9004L0.200195 13.4355L6.01074 7.625L0.200195 1.81445L1.66504 0.349609L7.47559 6.16016L13.335 0.349609L14.7998 1.81445Z" />
			</svg>
		</button>

		<div class="catalog-menu__row row row-nowrap align-vertical-start">

			<div class="catalog-menu__main catalog-menu__col catalog-menu__col-scroll">
				<p class="catalog-menu__title catalog-menu__title-desktop">Каталог</p>

				<div class="catalog-menu__lists styled-scroll">
					<nav class="catalog-menu__nav">
						<ul>
							<li data-id="1"><a href="#">VR Шлемы</a></li>
							<li data-id="2"><a href="#">AR/MR Очки</a></li>
							<li data-id="3"><a href="#">Аксессуары</a></li>
							<li data-id="4"><a href="#">Контроллеры и джойстики</a></li>
							<li data-id="5"><a href="#">Системы позиционного трекинга</a></li>
							<li data-id="6"><a href="#">Камеры для VR</a></li>
							<li data-id="7"><a href="#">Игровые комплекты VR</a></li>
							<li data-id="8"><a href="#">Компьютеры VR Ready</a></li>
							<li data-id="9"><a href="#">Игры и Программы</a></li>
							<li data-id="10"><a href="#">Квадрокоптеры</a></li>
							<li data-id="11"><a href="#">3Д Технологии</a></li>
							<li data-id="12"><a href="#">VR Аттракционы</a></li>
							<li data-id="13"><a href="#">Образовательные решения</a></li>
							<li data-id="14"><a href="#">Наши услуги</a></li>
						</ul>
					</nav>

					<nav class="site-sections">
						<p class="catalog-menu__title">Разделы сайта</p>

						<ul>
							<li><a href="#">Магазин</a></li>
							<li><a href="#">VR Клуб</a></li>
							<li><a href="#">Сервис</a></li>
							<li><a href="#">VR Бизнес</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- //left col -->

			<div class="catalog-menu__categories catalog-menu__col catalog-menu__col-scroll">

				<div class="catalog-menu__categories--block js-catalog-menu-categories is-active" data-id="1">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>VR Шлемы</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="2">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>AR/MR Очки</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="3">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>Аксессуары</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="4">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>Контроллеры и джойстики</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="5">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>Системы позиционного трекинга</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="6">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>Камеры для VR</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="7">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>Игровые комплекты VR</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="8">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>Компьютеры VR Ready</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="9">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>Игры и Программы</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="10">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>Квадрокоптеры</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="11">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>3Д Технологии</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="12">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>VR Аттракционы</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="13">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>Образовательные решения</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

				<div class="catalog-menu__categories--block js-catalog-menu-categories" data-id="14">
					{% include '../components/catalog-menu/brands.html' %}

					<p class="catalog-menu__title">
						<span>Наши услуги</span>
						{% include '../components/catalog-menu/title-toggle.html' %}
					</p>

					{% include '../components/catalog-menu/lists.html' %}
				</div>

			</div>
			<!-- //center col -->

			<div class="catalog-menu__adv catalog-menu__col">
				<div class="offer-block b-radius-10 bg" style="background-image: url('img/offer.png');">
					<div class="offer-block__content text-center">
						<p class="offer-block__title">Sale -50%</p>
						<p>Сайт рыбатекст поможет дизайнеру</p>
					</div>

					<div>
						<a href="#" class="btn">
							<span>Подробнее</span>
							{% include '../components/btn-arrow.html' %}
						</a>
					</div>
				</div>
			</div>
			<!-- //right col -->

		</div>
	</div>
	<!-- //container -->
</div>