<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row footer__row align-horisontal-between">
				<div class="footer__col">
					<div>
						<a href="index.html" class="logo">
							<img src="img/logo-footer.png" alt="">
						</a>
					</div>

					<div>
						<button class="btn btn-dark js-open-feedback-form-popup-btn" type="button">
							<span>Оставить отзыв</span>
							{% include '../components/btn-arrow.html' %}
						</button>
					</div>


					<a href="#" class="support-link" target="_blank" rel="nofollow">
						<svg  viewBox="0 0 18 15" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.397411 7.39614L4.53609 8.79888L14.3685 2.80319C14.5091 2.71501 14.6578 2.90739 14.5332 3.02362L7.09162 9.85694L6.81437 13.6804C6.79428 13.973 7.14385 14.1333 7.3528 13.9289L9.64313 11.6805L13.834 14.8427C14.2841 15.1833 14.939 14.9429 15.0596 14.3898L17.9767 1.18002C18.1415 0.42655 17.4021 -0.210692 16.6789 0.0658469L0.377321 6.298C-0.137 6.49438 -0.120927 7.2198 0.397411 7.39614Z" />
						</svg>
						Задать вопрос VR_Support
					</a>

					<div class="work-schedule">
						<p class="work-schedule__title">Режим работы:</p>
						<p>VR клуб: Ежедневно с 10:00 до 22:00<br> Магазин: Пн-Пт с 10:00-19:00, Сб-Вс: 10:00-20:00</p>
					</div>
				</div>
				<!-- //col -->

				<div class="footer__col">
					<nav class="footer-nav__main">
						<ul>
							<li><a href="#">Клуб</a></li>
							<li><a href="#">Магазин</a></li>
							<li><a href="#">Сервис</a></li>
							<li><a href="#">VR Бизнес</a></li>
						</ul>
					</nav>
				</div>
				<!-- //col -->

				<div class="footer__col">
					<div class="footer-navs">
						<nav class="footer-nav footer-nav__shop">
							<ul>
								<li><a href="#">О магазине</a></li>
								<li><a href="#">Гарантия</a></li>
								<li><a href="#">Как заказать</a></li>
								<li><a href="#">Условия оплаты</a></li>
								<li><a href="#">Условия доставки</a></li>
							</ul>
						</nav>

						<nav class="footer-nav">
							<ul>
								<li><a href="#">Условия возврата денежных средств</a></li>
								<li><a href="#">Уже есть своя VR площадка</a></li>
								<li><a href="#">Хочу начать с VR аттракциона</a></li>
								<li><a href="#">Хочу открыть клуб</a></li>
								<li><a href="#">Хочу интегрировать VR площадку в свой бизнес</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- //col -->

				<div class="footer__col">
					<div class="footer-search">
						<form class="search-form">
							<div class="search-form__group">
								<input type="text" class="search-form__input b-radius-7" placeholder="Поиск по магазину ..." name="s" required>
								<button class="search-form__btn" type="submit">
									<svg  viewBox="0 0 15 22"  xmlns="http://www.w3.org/2000/svg">
										<path d="M10.6445 13.1797L14.7852 17.3203L13.5352 18.5703L9.39453 14.4297V13.7656L9.16016 13.5312C8.14453 14.3906 6.97266 14.8203 5.64453 14.8203C4.13411 14.8203 2.84505 14.2995 1.77734 13.2578C0.735677 12.1901 0.214844 10.9141 0.214844 9.42969C0.214844 7.91927 0.735677 6.64323 1.77734 5.60156C2.84505 4.53385 4.12109 4 5.60547 4C7.11589 4 8.39193 4.53385 9.43359 5.60156C10.5013 6.64323 11.0352 7.91927 11.0352 9.42969C11.0352 10.7578 10.6055 11.9297 9.74609 12.9453L9.98047 13.1797H10.6445ZM2.98828 12.0859C3.71745 12.8151 4.60286 13.1797 5.64453 13.1797C6.6862 13.1797 7.57161 12.8151 8.30078 12.0859C9.02995 11.3568 9.39453 10.4714 9.39453 9.42969C9.39453 8.38802 9.02995 7.5026 8.30078 6.77344C7.57161 6.04427 6.6862 5.67969 5.64453 5.67969C4.60286 5.67969 3.71745 6.04427 2.98828 6.77344C2.25911 7.5026 1.89453 8.38802 1.89453 9.42969C1.89453 10.4714 2.25911 11.3568 2.98828 12.0859Z" />
									</svg>
								</button>
							</div>
						</form>
					</div>

					<div class="footer-contacts">
						<p>Телефон: <a href="tel:+7 (499) 404-13-91">+7 (499) 404-13-91</a></p>
						<p><button class="link link-accent js-open-callback-popup-btn" type="button">Заказать звонок</button></p>
						<p>E-mail: <a href="mailto:info@virtuality.club">info@virtuality.club</a></p>
					</div>
				</div>
				<!-- //col -->
			</div>

		</div>
		<!-- //container -->
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row footer__row align-horisontal-between align-vertical-center">
				<div class="footer__col">
					<p class="copyright">&copy; 2015-2021 Virtuality Club. Все права защищены</p>
				</div>
				<!-- //footer col -->

				<div class="footer__col hidden-mobile-md">
					
				</div>
				<!-- //footer col -->

				<div class="footer__col">
					<nav class="footer-subnav">
						<ul>
							<li><a href="#">Политика Безопасности</a></li>
							<li><a href="#">Подписаться на новости</a></li>
							<li><a href="#">Карта сайта</a></li>
						</ul>
					</nav>
				</div>
				<!-- //footer col -->

				<div class="footer__col">
					<ul class="socials text-right">
						<li>
							<a href="#" rel="nofollow" target="_blank">
								{% include '../components/socials/vk.html' %}

							</a>
						</li>
						<li>
							<a href="#" rel="nofollow" target="_blank">
								{% include '../components/socials/fb.html' %}

							</a>
						</li>
						<li>
							<a href="#" rel="nofollow" target="_blank">
								{% include '../components/socials/inst.html' %}

							</a>
						</li>
						<li>
							<a href="#" rel="nofollow" target="_blank">
								{% include '../components/socials/youtube.html' %}

							</a>
						</li>
					</ul>
				</div>
				<!-- //footer col -->

			</div>
		</div>
		<!-- //container -->
	</div>
</footer>



{% include '../components/popups/popup-callback.html' %}
{% include '../components/popups/popup-registration.html' %}
{% include '../components/popups/popup-login.html' %}
{% include '../components/popups/popup-password.html' %}
{% include '../components/popups/popup-thanks.html' %}
{% include '../components/popups/popup-feedback-form.html' %}
{% include '../components/popups/popup-quick-buy.html' %}
