<div class="products-cards-slider__wrapper">

	<div class="products-cards-slider js-products-cards-slider flex-slider slider-gutters">
		<!-- Card -->
		{% include '../components/product-card.html' %}
		<!-- //Card -->

		<!-- Card -->
		{% include '../components/product-card.html' %}
		<!-- //Card -->

		<!-- Card -->
		{% include '../components/product-card.html' %}
		<!-- //Card -->

		<!-- Card -->
		{% include '../components/product-card.html' %}
		<!-- //Card -->

		<!-- Card -->
		{% include '../components/product-card.html' %}
		<!-- //Card -->

		<!-- Card -->
		{% include '../components/product-card.html' %}
		<!-- //Card -->

		<!-- Card -->
		{% include '../components/product-card.html' %}
		<!-- //Card -->

	</div>


	<!-- Controls -->
	<div class="slider-controls">
		<div class="slider-navigation">
			<button class="slider-navigation__btn slider-navigation__btn--prev js-products-cards-slider-btn-prev b-radius-7" type="button">
				{% include '../components/btn-arrow.html' %}
			</button>
			<button class="slider-navigation__btn slider-navigation__btn--next js-products-cards-slider-btn-next b-radius-7" type="button">
				{% include '../components/btn-arrow.html' %}
			</button>
		</div>

		<div class="slider-pagination js-products-cards-slider-pagination"></div>
	</div>
	<!-- //Controls -->
</div>