<section class="sect__feedbacks gutters">
	<h2 class="sect-title text-center container">Наши отзывы</h2>

	<div class="container">

		<div class="feedbacks-slider__wrapper">
			<div class="feedbacks-slider js-feedbacks-slider slider-gutters flex-slider">
				<!-- Feedback -->
				{% include '../components/feedback.html' %}
				<!-- //feedback -->

				<!-- Feedback -->
				{% include '../components/feedback.html' %}
				<!-- //feedback -->

				<!-- Feedback -->
				{% include '../components/feedback.html' %}
				<!-- //feedback -->

				<!-- Feedback -->
				{% include '../components/feedback.html' %}
				<!-- //feedback -->

				<!-- Feedback -->
				{% include '../components/feedback.html' %}
				<!-- //feedback -->

				<!-- Feedback -->
				{% include '../components/feedback.html' %}
				<!-- //feedback -->

				<!-- Feedback -->
				{% include '../components/feedback.html' %}
				<!-- //feedback -->

				<!-- Feedback -->
				{% include '../components/feedback.html' %}
				<!-- //feedback -->


			</div>

			<!-- Controls -->
			<div class="slider-controls slider-controls__feedbacks">
				<div class="slider-navigation">
					<button class="slider-navigation__btn slider-navigation__btn--prev js-feedbacks-slider-btn-prev b-radius-7" type="button">
						{% include '../components/btn-arrow.html' %}
					</button>
					<button class="slider-navigation__btn slider-navigation__btn--next js-feedbacks-slider-btn-next b-radius-7" type="button">
						{% include '../components/btn-arrow.html' %}
					</button>
				</div>

				<div class="slider-pagination js-feedbacks-slider-pagination"></div>

				<div class="btn-wrapper">
					<button class="btn js-open-feedback-form-popup-btn" type="button">
						<span>Оставить отзыв</span>
						{% include '../components/btn-arrow.html' %}
					</button>
				</div>
			</div>
			<!-- //Controls -->
		</div>

	</div>
	<!-- //container -->
</section>