
	<div class="promo-slider promo-slider-full js-promo-slider-full">

		<a href="#" class="promo-slide bg b-radius-10">
			<div class="promo-slide__bg bg"  style="background-image: url('img/promo/1-bg.png');"></div>
			<div class="promo-slide__content">
				<p class="company-name">Virtuality  Club</p>

				<h2 class="promo-slide__title">Реальность которая впечатляет</h2>

				<p class="promo-slide__text">Главная цель Virtuality Club - сделать технологии виртуальной,  реальности популярными и доступными каждому.</p>


			</div>

			<div class="promo-slide__img">
				<img src="img/promo/1.png" alt="">
			</div>
		</a>
		<!-- //slide -->

		<a href="#" class="promo-slide promo-slide-dark  b-radius-10" >
			<div class="promo-slide__bg bg"  style="background-image: url('img/promo/2-bg.png');"></div>
			<div class="promo-slide__content">
				<p class="company-name">Virtuality  Club</p>

				<h2 class="promo-slide__title">Реальность которая впечатляет</h2>

				<p class="promo-slide__text">Главная цель Virtuality Club - сделать технологии виртуальной,  реальности популярными и доступными каждому.</p>

			</div>

		</a>
		<!-- //slide -->

		<a href="#" class="promo-slide  b-radius-10" >
			<div class="promo-slide__bg bg"  style="background-image: url('img/promo/1-bg.png');"></div>
			<div class="promo-slide__content">
				<p class="company-name">Virtuality  Club</p>

				<h2 class="promo-slide__title">Реальность которая впечатляет</h2>

				<p class="promo-slide__text">Главная цель Virtuality Club - сделать технологии виртуальной,  реальности популярными и доступными каждому.</p>


			</div>

			<div class="promo-slide__img">
				<img src="img/promo/2.png" alt="">
			</div>
		</a>
		<!-- //slide -->

		<a href="#" class="promo-slide promo-slide-dark  b-radius-10" >
			<div class="promo-slide__bg bg"  style="background-image: url('img/promo/2-bg.png');"></div>
			<div class="promo-slide__content">
				<p class="company-name">Virtuality  Club</p>

				<h2 class="promo-slide__title">Реальность которая впечатляет</h2>

				<p class="promo-slide__text">Главная цель Virtuality Club - сделать технологии виртуальной,  реальности популярными и доступными каждому.</p>

			</div>

		</a>
		<!-- //slide -->
	</div>

	