//  Fonts 

$Reg = 'OpenSans-Regular', Arial, sans-serif
$Bold = 'MagistralC-Bold', Arial, sans-serif

// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Reg
$body-font-size = 15px
$body-line-height = 1.25

// Sizes
$container-width = 1590px
$container-gutters = 0 20px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 70px 0
$gutter-top = 70px
$gutter-bottom = 70px
// ========== ========== ========== ========== ==========

//  Colors 

$accent-color = #0095D9
$dark-accent-color = #0682BA
$darkest-accent-color = #01245A

$secondary-color = green

$text-color = #3C3C46
$light-text-color = #9499A0

$footer-text-color = #59595F

$basic-white-color = #fff
$basic-black-color = #000


$border-color = #E6E9EE 

$light-border-color = #DFE3E9

$alternate-border-color = #E2E4E8

$sale-color = #E54646
$installment-color = #7074EB
$stock-color = #FFAB2E
$hit-color = #FF7549
$cashback-color = #0095D9

$error-color = #E64646

$red-color = #E54646

$available-color = #0DAA68

$articul-color = #9499A0
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #F6F6F6
$footer-bg = #000
$footer-lighten-bg = #101011

$color-bg = #F6F6F6

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========