//  Fonts 
$Italic = 'OpenSansItalic', Arial, sans-serif
$Light = 'OpenSansLight', Arial, sans-serif
$Reg = 'Comfortaa-Reg', Arial, sans-serif
$Med = 'OpenSansSemiBold', Arial, sans-serif
$Bold = 'OpenSansBold', Arial, sans-serif
$ExBold = 'OpenSansExtraBold', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Reg
$body-font-size = 16px
$body-line-height = 1.45

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = red
$secondary-color = green
$text-color = #050505
$light-text-color = #a2a2a2

$basic-white-color = #fff
$basic-black-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #e3e3e3
$header-bg = #a2a2a2
$footer-bg = #a2a2a2

$dark-bg = #090909

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========