<div class="catalog-menu__brands-wrapper">
	<ul class="catalog-menu__brands">
		<li class="catalog-menu__brand">
			<a href="#" class="our-brand our-brand-sm card b-radius-10"><img src="img/brands/1.png" alt=""></a>
		</li>
		<li class="catalog-menu__brand">
			<a href="#" class="our-brand our-brand-sm card b-radius-10"><img src="img/brands/2.png" alt=""></a>
		</li>
		<li class="catalog-menu__brand">
			<a href="#" class="our-brand our-brand-sm card b-radius-10"><img src="img/brands/3.png" alt=""></a>
		</li>
		<li class="catalog-menu__brand">
			<a href="#" class="our-brand our-brand-sm card b-radius-10"><img src="img/brands/4.png" alt=""></a>
		</li>
		<li class="catalog-menu__brand">
			<a href="#" class="our-brand our-brand-sm card b-radius-10"><img src="img/brands/5.png" alt=""></a>
		</li>

	</ul>
</div>