<div class="catalog-menu__categories-lists_wrapper styled-scroll" >

	<div class="catalog-menu__categories-lists ">
		<nav class="catalog-menu__categories-list">
			<p class="catalog-menu__categories-list_title">
				<span>VR аксессуары</span>
				{% include 'list-arrow.html' %}
			</p>
			<ul>
				<li><a href="#">VR комплектующие</a></li>
				<li><a href="#">Кабель и кабель менеджмент</a></li>
				<li><a href="#">Накладки и защитные чехлы</a></li>
				<li><a href="#">Кейсы, сумки, футляры</a></li>
				<li><a href="#">Питание,адаптерыиаккумуляторы</a></li>
				<li><a href="#">Крепления, ремни, держатели</a></li>
				<li><a href="#">Наушники и гарнитуры</a></li>
			</ul>
		</nav>

		<nav class="catalog-menu__categories-list">
			<p class="catalog-menu__categories-list_title">
				<span>Аксессуары для контроллеров</span>
				{% include 'list-arrow.html' %}
			</p>
			<ul>
				<li><a href="#">VR комплектующие</a></li>
				<li><a href="#">Кабель и кабель менеджмент</a></li>
				<li><a href="#">Накладки и защитные чехлы</a></li>
				<li><a href="#">Кейсы, сумки, футляры</a></li>
			</ul>
		</nav>

		<nav class="catalog-menu__categories-list">
			<p class="catalog-menu__categories-list_title">
				<span>Аксессуары для ПК, ноутбуков и консолей</span>
				{% include 'list-arrow.html' %}
			</p>
			<ul>
				<li><a href="#">VR комплектующие</a></li>
				<li><a href="#">Кабель и кабель менеджмент</a></li>
				<li><a href="#">Накладки и защитные чехлы</a></li>
				<li><a href="#">Кейсы, сумки, футляры</a></li>
				<li><a href="#">Питание,адаптерыиаккумуляторы</a></li>
				<li><a href="#">Питание,адаптерыиаккумуляторы</a></li>
				<li><a href="#">Крепления, ремни, держатели</a></li>
				<li><a href="#">Крепления, ремни, держатели</a></li>
				<li><a href="#">Наушники и гарнитуры</a></li>
				<li><a href="#">Наушники и гарнитуры</a></li>
			</ul>
		</nav>

		<nav class="catalog-menu__categories-list">
			<p class="catalog-menu__categories-list_title">
				<span>Аксессуары для ПК, ноутбуков и консолей</span>
				{% include 'list-arrow.html' %}
			</p>
			<ul>
				<li><a href="#">VR комплектующие</a></li>
				<li><a href="#">Кабель и кабель менеджмент</a></li>
				<li><a href="#">Накладки и защитные чехлы</a></li>
				<li><a href="#">Кейсы, сумки, футляры</a></li>
				<li><a href="#">Питание,адаптерыиаккумуляторы</a></li>
				<li><a href="#">Питание,адаптерыиаккумуляторы</a></li>
				<li><a href="#">Крепления, ремни, держатели</a></li>
				<li><a href="#">Крепления, ремни, держатели</a></li>
				<li><a href="#">Наушники и гарнитуры</a></li>
				<li><a href="#">Наушники и гарнитуры</a></li>
			</ul>
		</nav>


	</div>
</div>