.sect__promo
	padding-top 15px
	
	.breadcrumbs
		margin-bottom 15px




.promo-slide
	overflow hidden
	position relative
	padding 60px
	display flex !important
	align-items center
	min-height 580px
	height 100%
	&__bg
		position absolute
		top 0
		left 0
		width 100%
		height 100%
	&__content
		max-width 590px
		position relative
		z-index 2
	&__img
		position absolute
		top 0
		height 100%
		width auto
		right 0
		pointer-events none
		transition all .35s ease-in-out
	
		img
			display block
			height 100%
			width auto
			
		&--product
			bottom auto
			height auto
			vertical-center()
			right 60px
			max-width 400px
		
			img
				width 100%
				display block
				height auto
			
	&__title
		font 60px $Bold
		line-height 70px
		margin-bottom 25px
		color $basic-white-color
		
	&__text
		max-width 460px
		font-size 17px
		line-height 27px
		color #D0DCEF
		
	.btn
		margin-top 35px
		
	&-dark
		color $text-color
		
		.company-name,
		.promo-slide__title,
		.promo-slide__text
			color inherit
			
	&-color
		.promo-slide__bg
			background #E64646 url('../img/promo/circles.png') 50% no-repeat 
			&:before,
			&:after
				border-radius 50%
				pseudo()
				position absolute
				background-color #FFF386
			&:before
				width 200px
				height 200px
				top -135px
				left -80px
			&:after
				width 330px
				height 330px
				left 70px
				bottom -260px
		.promo-slide__img
			width 810px
			height 810px
			background-color #FFF386
			right 50px
			top -30px
			border-radius 50%
			bottom auto
			img
				width 525px
				position absolute	
				horisontal-center()
				top 30px
				height 	auto
		.company-name
			color #FFF386
			
		.promo-slide__title,
		.promo-slide__text
			max-width 500px
			
		.promo-slide__text
			color #FFE7E7
		
			

.company-name
	text-transform uppercase
	color $accent-color
	font 12px $Bold
	letter-spacing 0.1em
	margin-bottom 15px
	

.promo-block
	position relative
	&__offer
		flex none
		margin-left 20px
		width 370px
		
.virtuality
	width 168px
	position absolute
	top 0
	margin-left 15px
	left 100%
	img
		display block
		

.advantages

	
	.sect-title
		margin-bottom 70px
		

	
.advantage
	position relative
	min-height 150px
	background-color $basic-white-color
	box-shadow 7px 6px 13px -10px rgba(28, 26, 26, 0.15), 8px 8px 30px -6px rgba(28, 26, 26, 0.1)
	@extends .b-radius-10
	font 20px $Bold
	height 100%
	line-height 24px
	padding 50px 20px 20px
	text-align center
	transition all .17s ease-in-out
	&:hover
		background-color $darkest-accent-color
		color $basic-white-color
		box-shadow none
	&__ic
		display inline-block
		position absolute
		horisontal-center()
		border-radius 50%
		background-color $accent-color
		width 60px
		height 60px
		background-repeat no-repeat
		background-position 50% 
		background-size 33px 33px
		top -30px
		z-index 1

		
// Products cards
.sect__products-cards
	overflow hidden
	
.products-cards
	&__entering
		margin-bottom 45px
		.sect-title
			margin-bottom 0
			margin-right 20px
			
.product-card
	
	position relative
	height 100%
	display flex !important
	flex-direction column
	
	
	.product-labels
		position absolute
		top 15px
		left 15px
		z-index 1
		
		
	.rating
		margin-right 15px
		
	.product-rating
		margin-bottom 10px
		
	.product-prices
		margin-bottom 20px
		

		
	&__thumbnail
		flex-col-center()
		padding 10px
		height 225px
		margin-bottom 10px
		flex none
		img
			@extends .content-img
	
	&__content
		padding 20px 25px
		flex 1
		display flex
		flex-direction column
	&__title
		font 15px $Bold
		line-height 22px
		margin-bottom 15px
		flex 1
		a
			color $text-color
			&:hover
				color $accent-color
				

				
.product-rating
	display flex
	align-items center
	flex-wrap nowrap
				
.product-feedbacks
	color $light-text-color
	display inline-block
	font-family $Reg
	
a.product-feedbacks
	&:hover
		color $accent-color
		
.product-prices
	display flex
	flex-wrap nowrap
	align-items center
	font 21px $Reg
	font-weight bold
	span
		display inline-block
		margin-right 15px
		&:last-child
			margin-right 0
			
	&__old
		color $light-text-color
		font-size 17px
		font-weight normal
		text-decoration line-through
		
	&__new
		color $sale-color
		

.btns
	display flex
	flex-wrap nowrap
	
	.btn-add
		flex 1
		
	.btn-ic
		margin-left 10px
		

.product-labels
	display flex
	flex-wrap wrap
	justify-content flex-start
	padding-right 10px

.product-label
	display inline-block
	text-align center
	border-radius 5px
	border 1px solid 
	font 12px $Reg
	font-weight 600
	padding 2px 10px
	background-color $basic-white-color
	margin 0 5px 5px 0
	height 25px
	&__hidden
		display none
		&.is-toggled
			display inline-block
	&__sale
		background-color $sale-color
		color $basic-white-color
		border-color $sale-color
	&__installment
		color $installment-color
	&__stock
		color $stock-color
	&__hit
		color $hit-color
	&__cashback
		color $cashback-color
		
.btn-toggle-labels
	height 25px
	width 25px
	border 1px solid $border-color
	background-color $basic-white-color
	border-radius 5px
	position relative
	svg
		svg()
		position absolute
		position-center()
		height 8px
		width 5px
		fill #1D1D1F
	&:hover
		background-color $accent-color
		border-color $accent-color
		svg
			fill $basic-white-color
			
	&.is-toggled
		svg
			transform translate(-50%, -50%) scaleX(-1)
			
// Stocks
.virtuality-wrapper
	position relative	
	
	.virtuality
		left auto
		margin-left 0
		right 100%
		margin-right 20px
		vertical-center()
		
	&__right
		.virtuality
			right auto
			left 100%
			margin-right 0
			margin-left 20px

	
.our-brand
	display flex !important
	flex-col-center()
	padding 10px
	height 125px
	img
		@extends .content-img
		max-width 170px
		max-height 80px
		transition all .17s ease-in-out
	&:hover
	
		img
			filter grayscale(0)
		
	&-sm
		height 50px
		padding 7.5px
		//width 135px
		img
			max-width 95px
			max-height 20px
			filter grayscale(1) 
				

// Faq
.faq
	&-item
		display flex !important
		align-items flex-end
		height 306px
		overflow hidden
		text-align center
		color $basic-white-color
		font 20px $Bold
		line-height 24px
		position relative
		&__content
			flex-col-center()
			height 145px
			width 100%
			padding 40px 20px 10px
			position relative
			z-index 1
			svg
				display block
				width 100%
				height 100%
				position absolute
				top 0
				left 0
				z-index -1
				fill $accent-color
		&__bg
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			
.faq-slider
	.slick-slide
		&:nth-child(3n+1)
			.faq-item__content
				svg
					fill $accent-color
		&:nth-child(3n+2)
			.faq-item__content
				svg
					fill $red-color
		&:nth-child(3n+3)
			.faq-item__content
				svg
					fill $darkest-accent-color
					
		&:nth-child(even)
			.faq-item__content
				svg
					transform scaleX(-1)
				
// Feedback
.feedback
	display flex !important
	height 100%
	flex-direction column
	padding 20px 20px 35px
	&-header
		margin-bottom 25px
	&-author
		display flex
		flex-wrap nowrap
		align-items center
		justify-content flex-start
		margin-right 15px
		&__photo
			flex none
			border-radius 50%
			width 80px
			height 80px
			margin-right 20px
			
		&__name
			font 16px $Bold
			line-height 24px
			margin-bottom 3px
			
	&-link
		text-transform uppercase
		color $accent-color
		display inline-flex
		align-items center
		justify-content flex-start
		font 12px $Bold
		letter-spacing 0.1em
		margin-top 20px
		span
			border-bottom 1px solid transparent
			transition border-color .17s ease-in-out
		svg
			svg()
			width 11px
			fill $accent-color
			flex none
			margin-left 10px
		&:hover
			span
				border-color $accent-color
			svg
				fill $darkest-accent-color

				
	&-text
		font-size 17px
		line-height 27px
		flex 1
		p
			display inline
			
			
	&-src
		flex-col-center()
		width 85px
		height 65px
		flex none
		img
			@extends .content-img
			max-width 55px
			max-height 55px
			
	&-full
		text-align left
		
	&-gallery
		margin 40px 0 30px
		
		margin-left -5px
		margin-right -5px
		
		.slick-slide
			padding-left 5px
			padding-right 5px
			
		.thumbnail
			padding-top 62%
			
		&__controls
			display flex
			align-items center
			justify-content space-between
			flex-wrap nowrap
			margin-top 15px
			
			.slider-pagination
				margin-top 0
			

.slider-controls__feedbacks
	display flex
	flex-wrap nowrap
	align-items center
	justify-content space-between		


.sertificate
	flex-col-center()
	display flex !important
	padding 5px
	span
		display block
		position relative
		border-radius 7px
		overflow hidden
		backface-visibility hidden
		&:before,
		&:after
			pseudo()
			position absolute
			transition all .17s ease-in-out
		&:before
			top 0
			left 0
			width 100%
			height 100%
			background-color rgba($basic-black-color, .7)
			z-index 1
			opacity 0
		&:after
			position-center()
			z-index 2
			width 55px
			height 55px
			border-radius 50%
			background rgba($basic-white-color, .25) url('../img/icons/svg/zoom.svg') 50% no-repeat / 16px 16px
			margin-top 20px
			opacity 0
	img
		@extends .content-img
		
	&:hover
		span
			&:before
				opacity 1
			&:after
				opacity 1
				margin-top 0
		