.catalog-categories
	margin-bottom 70px
	padding-bottom 50px
	border-bottom 1px solid $border-color
	&__row
		margin-left -10px
		margin-right -10px
		
	
.catalog-category-link
	display flex
	flex-wrap nowrap
	align-items center
	justify-content flex-start
	min-height 140px
	background-color $basic-white-color
	box-shadow 7px 6px 13px -10px rgba(28, 26, 26, 0.15), 8px 8px 30px -6px rgba(28, 26, 26, 0.1)
	font 20px $Bold
	line-height 24px
	color $text-color
	padding 15px
	img
		display block
		flex none
		width 125px
		margin-right 20px
	&:hover
		color $accent-color
	&__wrapper
		width 25%
		padding-left 10px
		padding-right 10px
		margin-bottom 20px
		
.promo-slide-sm
	min-height 460px
	padding 40px 60px
	

.sect__catalog-categories
	.promo-block
		border-bottom 1px solid $border-color
		


.filter
	position relative
	z-index 2
	border-bottom 1px solid $border-color
	margin-bottom $gutter-bottom
	&__row
		margin-left -15px
		margin-right -15px
	&__col
		padding-left 15px
		padding-right 15px
	
	&-fields
		&__col
			flex 1
			display flex
			flex-wrap wrap
			justify-content flex-start
			margin-left -7.5px
			margin-right -7.5px
			
	&-price
		&__col
			width 310px
			
	&-group
		position relative

		&.is-opened
			.filter-group__dropdown
				margin-top 0
				opacity 1
				visibility visible
				pointer-events auto
			.filter-group__field
				border-color $accent-color
				&:after
					transform translateY(-50%) rotate(-180deg)
		&__field
			font 17px $Reg
			border-radius 10px
			display flex
			align-items center
			height 65px
			border 1px solid $border-color
			background-color $basic-white-color
			padding 10px 40px 10px 25px
			transition border-color .17s ease-in-out
			&:after
				pseudo()
				position absolute
				vertical-center()
				right 20px
				width 9px
				height 7px
				background url('../img/icons/svg/select-arrow.svg') 50% no-repeat / contain
				pointer-events none
				z-index 1
			&:hover
				border-color $accent-color
				cursor pointer
			span
				pointer-events none
		&__dropdown
			position absolute
			top 100%
			width 100%
			min-width 280px
			z-index 10
			padding-top 10px
			transition all .2s ease-in-out
			opacity 0
			visibility hidden
			pointer-events none
			&--content
				background-color $basic-white-color
				border-radius 10px
				box-shadow 7px 6px 13px -10px rgba(28, 26, 26, 0.15), 8px 8px 30px -6px rgba(28, 26, 26, 0.1)
				padding 20px
				.form-checkbox__label
					margin-bottom 15px
					display block
					&:last-child
						margin-bottom 0
				&_select
					padding 14px 0
					li
						display block
						padding 6px 20px
						font 17px $Reg
						line-height 1
						&:hover
							background-color rgba($accent-color, .1)
							cursor pointer
		&__col
			padding-left 7.5px
			padding-right 7.5px
			margin-bottom 15px
			&:last-child
				margin-bottom 0
			
.filter-group__count
	color $light-text-color
	display inline-block
	margin-left 5px
	
.filter-group__field-counter
	flex-col-center()
	flex none
	margin-left 10px
	pointer-events none
	width 35px
	height 35px
	border-radius 50%
	background-color #E6E9EE
	&.is-hidden
		display none
		
.filter-group__checkbox
	height 25px
	padding-left 45px
	display flex
	align-items center
	font-size 17px
	
	&:before
		width 25px
		height 25px
		vertical-center()
		background-size 14px
		

.filter-color
	display inline-block
	flex none
	width 20px
	height 20px
	border-radius 50%
	position relative
	margin-right 20px
	&__border
		border 1px solid $border-color
	&:before
		pseudo()
		width 28px
		height 28px
		position absolute
		position-center()
		border-radius 50%
		border 2px solid $accent-color
		opacity 0
		transition opacity .17s ease-in-out
	&__label
		margin-bottom 15px
		display flex
		flex-wrap nowrap
		height 28px
		align-items center
		justify-content flex-start
		font-size 17px
		&:last-child
			margin-bottom 0
		
		input
			display none
			&:checked
				~ span.filter-color:before
					opacity 1
			


.filter-tag
	display inline-flex
	align-items center
	position relative
	padding 13px 40px 13px 20px
	height 50px
	border 1px solid $border-color
	background-color $basic-white-color
	border-radius 7px
	line-height 1
	font-size 15px
	transition all .17s ease-in-out
	margin 0 10px 10px 0
	&:after
		pseudo()
		position absolute
		vertical-center()
		width 9px
		height 9px
		background url('../img/icons/svg/close-sm.svg') no-repeat / contain
		right 20px
		pointer-events none
	&:hover
		cursor pointer
		border-color $accent-color
		background-color rgba(0, 149, 217, 0.05)
		
.filter-brands
	margin-top 20px
	width 100% !important
	&-hidden
		display none
		

.filter-rating
	display flex
	align-items center
	justify-content flex-start
	font 16px $Reg
	color $text-color
	position relative
	padding-left 37px
	img
		display block
		width 105px
		margin-left 20px
		margin-right 10px
	&:before
		pseudo()
		position absolute
		vertical-center()
		left 0
		border-radius 50%
		border 2px solid $text-color
		transition border-color .17s ease-in-out
		width 17px
		height 17px
	&:after
		pseudo()
		position absolute
		vertical-center()
		width 8px
		height 8px
		border-radius 50%
		background-color $accent-color
		transition opacity .17s ease-in-out
		opacity 0
		left 4.5px
	&__label
		display block
		height 26px
		margin-bottom 15px
		&:last-child
			margin-bottom 0
			
		input
			display none
			&:checked
				~ .filter-rating
					&:before
						border-color $accent-color
					&:after
						opacity 1
	
.filter-price__col
	font-size 17px
	p
		margin-bottom 20px
		
	.btn
		padding 18px 10px
		

.filter-prices
	display flex
	align-items center
	flex-wrap nowrap
	margin-bottom 20px
	span
		display inline-block
		font-weight 500
		color $light-text-color
		margin-left 6px
		margin-right 6px
		
	input
		flex 1
		height 55px
		padding 14px 20px
		

.sorting
	flex 1
	display flex
	justify-content flex-end
	flex-wrap nowrap
	&-form
		max-width 600px
		width 100%
	.form-group
		margin-bottom 0
		
.catalog-products__entering
	margin-bottom 50px
	p
		b, span, strong
			font-family $Reg
			font-weight 700
	.sect-title
		margin-bottom 10px
		
	&--title
		width 100%
		flex 1
		max-width 750px
		



.view-switcher
	width 140px
	display flex
	flex-wrap nowrap
	justify-content space-between
	flex none
	margin-left 30px
	
	.btn-ic
		width 65px
		height 65px
		&.is-active
			border-color $accent-color
			background-color $basic-white-color
			svg
				fill $text-color
				


.catalog-products__row
	margin-left -10px
	margin-right -10px
	
.catalog-product-card
	padding-left 10px
	padding-right 10px
	margin-bottom 20px
	
.catalog-products__block
	padding-bottom 30px