.compare
	&-entering
		margin-bottom 40px
		.sect-title
			margin-bottom 0
			
	&-categories
		margin-bottom 40px
		
.sect__compare
	.products-cards-slider__wrapper
		margin-bottom 70px
		border-bottom 1px solid $border-color
		

.compare-tables__entering
	margin-bottom 50px
	.sect-title
		margin-bottom 0
		
.compare-table

	overflow-x auto
	
	.product-label
		margin 0

	&__wrapper
		margin-bottom 20px
		overflow hidden
		&:last-child
			margin-bottom 0
	&__heading
		font 20px $Bold
		line-height 24px
		display flex
		align-items center
		flex-wrap nowrap
		justify-content space-between
		padding 25px
		
	&__tr
		margin-bottom 20px
		&:last-child
			margin-bottom 0
		&--title
			text-align center
			margin-left 25px
			border 1px solid $border-color
			border-bottom none
			text-align center
			font 17px $Reg
			font-weight 700
			width 165px
			height 36px
			display flex
			align-items center
			border-radius 7px 7px 0 0
			padding 6px 25px
	&__tds
		display flex
		align-items center
		&:hover
			background-color rgba(#FFC738, .06)
		
	&__td
		height 60px
		border-top 1px solid $border-color
		border-bottom 1px solid $border-color
		position relative
		width 300px
		flex none
		display flex
		align-items center
		padding-left 35px
		padding-right 35px
		&:after
			pseudo()
			position absolute
			vertical-center()
			height 35px
			width 1px
			background-color $border-color
			right 0
			border-radius 30px
		&:last-child
			&:after
				display none
	


.compare-table
	display none
	.os-scrollbar
		height 25px
		display flex
		align-items center
		padding-left 25px
		padding-right 25px
		position relative
		margin-top -10px
	
	.os-scrollbar-track
		height 5px
		
	.os-scrollbar-vertical
		display none !important
		

	
.compare-fixed
	
	&-content
		background-color $basic-white-color
		box-shadow 0px 4px 15px rgba(119, 129, 140, 0.25)
		border-bottom-left-radius 10px
		border-bottom-right-radius 10px
		
		
	&-slider
		margin-left -15px
		margin-right -15px

		
		.slick-track
			display flex
			flex-wrap nowrap
		.slick-slide
			padding-left 15px
			padding-right 15px
			float none
			height auto
			> div
				height 100%
		&__wrapper
			padding 15px
			

	
				
	&-product
		position relative
		height 100%
		display flex !important
		flex-direction column
		justify-content space-between
		.btn-close
			position absolute
			z-index 1
			top 0
			right 0
			width 15px
			height 15px
			svg
				width 100%
				height 100%
			
		&__header
			display flex
			flex-wrap nowrap
			justify-content flex-start
			margin-bottom 7px
			padding-right 20px
			flex 1
			
		&__footer
			display flex
			flex-wrap nowrap
			align-items center
			justify-content space-between
			
		.product-card
			&__thumbnail
				width 80px
				height 80px
				padding 5px
				margin-bottom 0
				margin-right 12px
			&__title
				font-size 15px
				line-height 22px
				margin-bottom 20px
				overflow hidden
				text-overflow ellipsis
				display -webkit-box
				line-height 22px
				max-height 66px
				-webkit-line-clamp 3 
				-webkit-box-orient vertical
		
		.product-prices
			font-size 15px
			span
				font-size inherit
			

			
		
	&__navigation
		box-shadow 7px -24px 23px -24px rgba(119, 129, 140, 0.23)
		border-radius 0 0 10px 10px
		padding 15px
		background-color $basic-white-color
		
		.slider-controls
			display flex
			justify-content space-between
			align-items center
			flex-wrap nowrap
			margin-top 0
			
	&__btns
		display flex
		flex-wrap nowrap
		width 100%
		max-width 430px
		.btn
			flex 1
			padding 13px
			margin-right 10px
			
			&:last-child
				margin-right 0