.sect__technical
	padding 120px 0
	
.block-technical
	&__content
		flex none
		
	&__img
		flex 1
	&__title
		font 60px $Bold
		line-height 70px
		margin-bottom 30px
	
	p
		margin-bottom 50px
		font-size 17px
		line-height 27px
		