<form class="form js-form">
	<!-- Hidden inputs -->
	<input type="hidden" name="project_name" value="">
	<input type="hidden" name="admin_email" value="email@email">
	<input type="hidden" name="form_subject" value="">
	<!-- // Hidden inputs -->

	<div class="form-group">
		<p class="form-group__label">Имя</p>
		<input type="text" class="form-input js-input is-error" name="name" placeholder="Имя">
	</div>

	<div class="form-group">
		<p class="form-group__label">Телефон</p>
		<input type="tel" class="form-input js-input" name="Телефон" placeholder="Телефон">
	</div>

	<div class="form-group">
		<p class="form-group__label">Сообщение</p>
		<textarea name="Сообщение" class="form-input form-textarea js-input" placeholder="Сообщение"></textarea>
	</div>

	<div class="form-group">
		<label class="form-checkbox__label">
			<input name="form-checkbox" type="checkbox">
			<span class="form-checkbox">Check!</span>
		</label>
	</div>


	<div class="form-group">
		<label class="form-radio__label">
			<input name="radio" type="radio">
			<span class="form-radio">Radio!</span>
		</label>
	</div>
	

	<button type="submit" class="btn">SEND</button>				
</form> 