<!-- Popup -->
<div class="popup js-popup">
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<button class="btn-close js-close-popup-btn" type="button"></button>
			<!-- Popup content-->
			<div class="popup__content">
				<h3 class="popup__title">Popup</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure consequuntur cumque, consectetur iste voluptatem totam laudantium et! Libero, odio, amet.</p>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup -->