<div class="tab__controls">
	<button class="btn__tab js-tab-btn" type="button">1</button>
	<button class="btn__tab js-tab-btn" type="button">2</button>
	<button class="btn__tab js-tab-btn" type="button">3</button>
</div>

<div class="tab__contents">
	<div class="tab__content js-tab-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat cum dolores commodi fuga laboriosam, repudiandae odit distinctio. Consequatur, similique beatae.</div>
	<div class="tab__content js-tab-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi ab eligendi, vero ducimus tempore exercitationem rem adipisci consectetur! A?</div>
	<div class="tab__content js-tab-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur voluptatum assumenda, possimus architecto laudantium rerum nobis dolore optio culpa libero.</div>
</div>